<h2> Coupon </h2>

<% unless @coupon.errors.empty? %>
  <ul>
  <% @coupon.errors.full_messages.each do |msg| %>
    <li><strong><%= msg %></strong></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@coupon, :url => shopping_coupon_path(@coupon)) do |f| %>
  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div style='display:inline;'>
    <%= submit_tag "Save", class: 'button small' %> &nbsp; &nbsp; &nbsp;
    <%= link_to 'Skip Coupon', shopping_orders_path, class: ' button small' %>
  </div>
<% end %>
