<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @shipping_address.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @shipping_address.last_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @shipping_address.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @shipping_address.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @shipping_address.city %>
</p>

<p>
  <b>Zip code:</b>
  <%= @shipping_address.zip_code %>
</p>

<p>
  <b>State:</b>
  <%= @shipping_address.state_id %>
</p>


<%= link_to 'Edit', edit_admin_shopping_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', admin_shopping_shipping_addresses_path %>
