  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='main-address'>
    <div class="inline twelve large-12 ">
      <div class="field six large-6 columns">
         <%= f.label :first_name %>
         <%= f.text_field :first_name %>
      </div>

      <div class="field six large-6 columns">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class='clear'></div>
      <div class="twelve large-12 columns">
        <div class="field">
          <%= f.label :address1 %>
          <%= f.text_field :address1 %><br/>

          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </div>
      </div>

    <div class='clearfix'></div>
      <div class=" twelve large-12">
        <div class="field five columns">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>

      <% if Settings.require_state_in_address %>
        <div class="field four large-4 columns">
          <%= f.label    :state_id, "State/Province" %>
          <%= f.select   :state_id, select_states,
                         include_blank: true %>
        </div>
      <% elsif countries.size == 1 %>
        <div class="field column">
          <%= f.label :country_id, "Country" %>
          <%= countries.first.name %>
          <%= f.hidden_field   :country_id %>
        </div>
      <% else %>
        <div class="field column">
          <%= f.label    :country_id, "Country" %>
          <%= f.select   :country_id, select_countries,
                         include_blank: true %>
        </div>
      <% end %>

        <div class="field two large-2 columns">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code %>
        </div>
      </div>

</div>
  <div class="field twelve large-12 column" style='margin-bottom:10px;'>
    <%= f.check_box :default %>
    <label for='address_default'>
      Make this my default shipping address
    </label>
  </div>

  <div class="actions column">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<div class='clearfix'></div>
