  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='main-address'>
  <div class="d-flex flex-wrap gap-3">
    <div class="form-group flex-grow-1">
      <%= f.label :first_name, class: 'form-label' %>
      <%= f.text_field :first_name %>
    </div>

    <div class="form-group flex-grow-1">
      <%= f.label :last_name, class: 'form-label' %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address1, class: 'form-label' %>
    <%= f.text_field :address1 %><br/>
    <%= f.label :address2, class: 'form-label' %>
    <%= f.text_field :address2 %>
  </div>

  <div class="d-flex flex-wrap gap-3">
    <div class="form-group">
      <%= f.label :city, class: 'form-label' %>
      <%= f.text_field :city %>
    </div>

    <% if Settings.require_state_in_address %>
      <div class="form-group">
        <%= f.label :state_id, "State/Province", class: 'form-label' %>
        <%= f.select :state_id, select_states,
                     include_blank: true %>
      </div>
    <% elsif countries.size == 1 %>
      <div class="form-group">
        <%= f.label :country_id, "Country", class: 'form-label' %>
        <%= countries.first.name %>
        <%= f.hidden_field :country_id %>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :country_id, "Country", class: 'form-label' %>
        <%= f.select :country_id, select_countries,
                     include_blank: true %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :zip_code, class: 'form-label' %>
      <%= f.text_field :zip_code %>
    </div>
  </div>
</div>

<div class="form-group mt-3">
  <%= f.check_box :default %>
  <label for='address_default'>
    Make this my default shipping address
  </label>
</div>

<div class="form-group">
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
</div>
