%h2
  New Address (#{customer.name})
= form_for @form_address, :url => admin_user_datas_user_addresses_path(customer, @form_address) do |f|
  = render :partial => 'form', :locals => {:f => f}
  .actions= f.submit 'Create' , :class => 'button'
%p= link_to "Back to List", admin_user_datas_user_addresses_path(customer), :class => 'button'
