<div class='nine large-9 columns'>
  <h3> <%= customer.name.possessive %> Address </h3>

  <p>
    <%= render partial: '/shared/compact_address', locals: { shopping_address: @address } %>
  </p>

  <p>
    <%= link_to "Show", admin_user_datas_user_address_path(customer, @address), class: 'button' %> |
    <%= link_to "View All", admin_user_datas_user_addresses_path(customer), class: 'button secondary' %> |
    <%= link_to "Inactivate", admin_user_datas_user_address_path(customer, @address), data: { confirm: 'Are you sure?' }, method: :delete, class: 'alert button' %>
  </p>
</div>
