<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @tax_categories.empty? %>
  <h3>New Tax Status</h3>
<% else %>
  <h3>Pick a Tax Status</h3>
<% end %>

<% @tax_categories.each do |tax_category| %>
  <div class='span-8 box <%= cycle( '', 'last') %> <%= 'selected' if selected?(tax_category.id) %> '>
    <label><%= tax_category.name %></label><br/>
    <%= button_to 'Use', admin_merchandise_wizards_tax_category_path(tax_category),
                  :class => "button spade inline-block ",
                  :method => :put %>
  </div>
<% end %>

<%= form_for @tax_category, :url => admin_merchandise_wizards_tax_categories_path do |tax_category_form| %>
  <%= render :partial =>  'form', :locals => {:f => tax_category_form}  %>
<% end %>
