<%= render :partial => '/admin/config/sub_header'%>
<h1>Editing Shipping Category <%= @shipping_category.name %> </h1>


<%= form_for(@shipping_category, :url => admin_merchandise_shipping_category_path(@shipping_category)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', admin_merchandise_shipping_category_path(@shipping_category) %> |
<%= link_to 'Back', admin_merchandise_shipping_categories_path %>
