<div class="page-header">
  <h1 class="page-title">Order <%= order.number %> Comments</h1>
  <div class="page-actions">
    <%= link_to "New Comment", new_admin_fulfillment_order_comment_path(order), class: "btn btn-primary" %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Note</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for comment in order.comments %>
            <tr>
              <td><%= link_to truncate(comment.note, length: 50), admin_fulfillment_order_comment_path(order, comment) %></td>
              <td><%= link_to "Edit", edit_admin_fulfillment_order_comment_path(order, comment), class: "btn btn-outline btn-sm" %></td>
              <td><%= link_to "Destroy", admin_fulfillment_order_comment_path(order, comment), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
