
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Need to add a select to change address, might need to add notes for a shipment. 

<div  id='shipment-address'
      class='span-6 rounded-10 line_item_yellow'>
   <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @shipment.address} %>
   <%= link_to 'Change Address', edit_admin_fulfillment_shipment_address_path(@shipment, @shipment.address) %>
</div>  
<div id='shipment-details' class='span-10'>
  <div class="field">
    <%= f.label :shipped_at %><br />
    <%= f.datetime_select :shipped_at %>
  </div>
  <div class="field">
    <%= f.label :tracking %><br />
    <%= f.text_field :tracking %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.object.number %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.object.state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
