
<% if @shipment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

    <ul>
    <% @shipment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id='shipment-details' class='last  line_item_yellow'>
  <ul  class='vertical-list width-list space-list-40'>
    <li>
      <label >Shipped at:</label>
      <span ><%=l @shipment.shipped_at, :format => :us_time if @shipment.shipped_at %></span>
    </li>
    <li style='clear:both;'>
      <label >Tracking #:</label>
      <span ><%= f.text_field :tracking %></span>
    </li>
    <li>
      <label >Shipment #:</label>
      <span ><%= @shipment.number %></span>
    </li>
    <li>
      <label >Status:</label>
      <span ><%= @shipment.state %></span>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit 'Update Tracking #', class: 'button small' %>
  </div>
</div>
