<% if @shipment.errors.any? %>
  <div id="error_explanation" class="mb-4 p-4 bg-red-50 border border-red-200 rounded">
    <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>
    <ul>
    <% @shipment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="shipment-details" class="mb-4 p-4 rounded" style="background-color: #fef9e7;">
  <ul class="vertical-list width-list space-list-40">
    <li>
      <label class="form-label">Shipped at:</label>
      <span><%= l @shipment.shipped_at, format: :us_time if @shipment.shipped_at %></span>
    </li>
    <li>
      <label class="form-label">Tracking #:</label>
      <span><%= f.text_field :tracking, class: "form-control" %></span>
    </li>
    <li>
      <label class="form-label">Shipment #:</label>
      <span><%= @shipment.number %></span>
    </li>
    <li>
      <label class="form-label">Status:</label>
      <span><%= @shipment.state %></span>
    </li>
  </ul>

  <div class="form-group mt-3">
    <%= f.submit 'Update Tracking #', class: "btn btn-primary btn-sm" %>
  </div>
</div>
