
<% if @shipment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

    <ul>
    <% @shipment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id='shipment-details' class='span-10 last rounded-10 line_item_yellow'>
  <ul  class='span-10 width-list space-list-40'>
    <li>
      <label class='span-3 column'>Shipped at:</label>
      <span class='span-6 column'><%=l @shipment.shipped_at, :format => :us_time if @shipment.shipped_at %></span>
    </li>
    <li style='clear:both;'>
      <label class='span-3 column'>Tracking #:</label>
      <span class='span-6 column'><%= f.text_field :tracking %></span>
    </li>
    <li>
      <label class='span-3 column'>Shipment #:</label>
      <span class='span-6 column'><%= @shipment.number %></span>
    </li>
    <li>
      <label class='span-3 column'>Status:</label>
      <span class='span-6'><%= @shipment.state %></span>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit 'Update Tracking #'%>
  </div>
</div>
