<div class="page-header">
  <h1 class="page-title">Shipment Details</h1>
</div>

<div class="flex flex-wrap gap-4">
  <div class="card flex-1 min-w-0">
    <div class="card-header">
      <h3 class="card-title">Shipment details</h3>
    </div>
    <div class="card-body">
      <ul class="vertical-list width-list">
        <li>
          <label class="form-label">Shipped at:</label>
          <span><%= l @shipment.shipped_at, format: :us_time if @shipment.shipped_at %></span>
        </li>
        <li>
          <label class="form-label">Tracking #:</label>
          <span><%= @shipment.tracking %></span>
        </li>
        <li>
          <label class="form-label">Shipment #:</label>
          <span><%= @shipment.number %></span>
        </li>
        <li>
          <label class="form-label">Status:</label>
          <span><%= @shipment.state %></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="card flex-1 min-w-0">
    <div class="card-header">
      <h3 class="card-title">Order Items</h3>
    </div>
    <div class="card-body">
      <ul class="vertical-list width-list">
        <% @shipment.order_items.each do |item| %>
          <li>
            <label class="form-label">Product:</label>
            <span><%= item.variant.product_name %></span>
          </li>
          <li>
            <label class="form-label">SKU:</label>
            <span><%= item.variant.sku %></span>
          </li>
          <li>
            <label class="form-label">Price:</label>
            <span><%= number_to_currency item.price %></span>
          </li>
          <li>
            <label class="form-label">Shipping Rate:</label>
            <span><%= number_to_currency(item.shipping_rate.rate) %></span>
          </li>
          <li>
            <label class="form-label">Shipping Method:</label>
            <span><%= item.shipping_rate.shipping_method.name %></span>
          </li>
          <li class="p-0"><hr/></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="card flex-1 min-w-0">
    <div class="card-header">
      <h3 class="card-title">Order Details</h3>
    </div>
    <div class="card-body">
      <ul class="vertical-list width-list">
        <li>
          <label class="form-label">Order #:</label>
          <span><%= @shipment.order.number %></span>
        </li>
        <li>
          <label class="form-label">Customer:</label>
          <span><%= @shipment.order.user.name %></span>
        </li>
        <li>
          <label class="form-label">Shipping Address:</label>
          <div>
            <%= render partial: '/shared/compact_address', locals: { shopping_address: @shipment.address } %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="flex gap-2 mt-4">
  <%= link_to 'Edit', edit_admin_fulfillment_shipment_path(@shipment), class: "btn btn-outline btn-sm" %>
  <%= link_to 'View Shipments for this Order', admin_fulfillment_shipments_path(order_id: @shipment.order.number), class: "btn btn-outline btn-sm" %>
</div>
