<div class="page-header">
  <div>
    <h1 class="page-title">Sale</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <ul>
      <li>
        <label>Product:</label>
        <%= @sale.product_id %>
      </li>
      <li>
        <label>Percent Off:</label>
        <%= @sale.percent_off %>
      </li>
      <li>
        <label>Starts At:</label>
        <%= @sale.starts_at %>
      </li>
      <li>
        <label>Ends At:</label>
        <%= @sale.ends_at %>
      </li>
    </ul>
    <div class="d-flex gap-2 mt-3">
      <%= link_to "Edit", edit_admin_generic_sale_path(@sale), class: 'btn btn-primary btn-sm' %> |
      <%= link_to "Destroy", [:admin, :generic, @sale], data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger btn-sm' %> |
      <%= link_to "View All", admin_generic_sales_path, class: 'btn btn-outline btn-sm' %>
    </div>
  </div>
</div>
