<%= render :partial => '/admin/config/sub_header'%>
<h1>Editing tax_status</h1>


<%= form_for(@tax_status, :as => :tax_status, :url => admin_config_tax_statuses_path(@tax_status)) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', admin_config_tax_status_path(@tax_status), :class => 'button' %>
<%= link_to 'Back', admin_config_tax_statuses_path, :class => 'button' %>
