<% content_for :head do -%>
  <%= stylesheet_link_tag 'signup.css' %>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.12.custom' %>
<% end %>

<% content_for :bottom do -%>
  <%= javascript_include_tag 'jquery.datePicker-2.1.2', 'datePickerInitialize' %>
<% end %>
<div id='register-wrapper'>
  <div id='login' class='hadean-login span-8 prepend-4'>

    <%= form_for  @user_session, :as => :user_session,
                  :url => user_sessions_path(@user_session),
                  :html => {:class => 'span-12'} do |form| %>
      <h3>Log in.</h3>
      <fieldset>
         <ol id='login_form'>

              <li>
                  <%=form.label :email, 'Email' %>
                  <%= form.text_field :email %>
              </li>

              <li>
                  <%=form.label :password, 'Password' %>
                  <%= form.password_field :password %>
              </li>

         </ol>

        <%= form.submit "Log In" %>

      </fieldset>
    <% end %>
    <%= link_to 'forgot password?', new_customer_password_reset_path() %>
  </div>

  <div id='signup'>
    <%= form_for @user, :url => customer_registrations_path(@user)  do |form| %>
      <h3>New to <%= site_name %>?</h3>
      <p>A <%= site_name %> account is required to checkout. </p>
      <fieldset>
         <ol id='registration_form'>
              <li>
                  <%=form.label :first_name, 'First name*' %>
                  <%= form.text_field :first_name %>
              </li>
              <li>
                  <%=form.label :last_name %>
                  <%= form.text_field :last_name %>
              </li>
              <li>
                  <%=form.label :email, 'Email' %>
                  <%= form.text_field :email %>
              <li>
                  <%=form.label :birth_date %>
                  <%= form.text_field :birth_date, :class => 'ui-yearpicker' %>
              </li>
              <li>
                  <%=form.label :password, 'Password' %>
                  <%= form.password_field :password %>
              </li>
              <li>
                  <%=form.label :password_confirmation, 'Confirm' %>
                  <%= form.password_field :password_confirmation %>
              </li>
         </ol>
      <%#= form.buttons do %>
        <%= form.submit "Register" %>
      <%# end %>
      </fieldset>
    <% end %>
  </div>
</div>
