<tr>
  <td width="18%" valign="top" align="right" style='padding:2px;'>
    <div class="tiny">
      <b name="<%= i %>">Item added on <br/><%= item.created_at.strftime(I18n.translate('time.formats.long_date')) %>  </b>
    </div>

    <div id='remove_<%= i %>_from_cart'>
      <ul>
        <li>
          <%= link_to 'Save for Later',
                        move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                        :item_type_id     => ItemType::SAVE_FOR_LATER_ID),
                                                        :method           => 'put',
                                                        :class            => 'button tiny secondary' %>
        </li>
        <li>
          <%= link_to 'Remove', shopping_cart_item_path(item, variant_id: item.variant_id),
                                method: :delete, class: 'button tiny alert' %>
        </li>
      </ul>
    </div>
  </td>
  <td valign="top" style="padding-right: 20px;">
    <div class="small">
      <%= image_tag item.variant.featured_image %>
      <b>
        <%= link_to item.variant.product_name, product_path(item.variant.product) %>
      </b>
      <%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %><br/>
      <%= item.variant.display_stock_status('', '') %>
      <br/>
    </div>
  </td>
  <td valign="top" class="small">
    <b class="price"><%= number_to_currency item.price %></b><br/>
    <br/>
  </td>
  <td valign="top">
    <%= cart_items_form.number_field :quantity, :size=>"2" %>
  </td>
</tr>
<tr>
  <td colspan="5">
    <hr color='#aac'/>
  </td>
</tr>
