<div class='span-9 rounded-10 line_item_blue'>
  <h4>Saved Items:</h4>
  <ul>
    <% @saved_cart_items.each_with_index do |item, i| %>
      <li id='saved-cart-item-<%= i %>' class='individual-cart-item'>
      <% photo_url = item.variant.product.featured_image %>
          <%= image_tag(photo_url) if photo_url %>
          <%#= link_to 'Move to Cart', move_to_shopping_cart_item_path(item, 
                                                                      :variant_id => item.variant_id),
                                      :method     => 'put' %>
          (<%= item.quantity %>) 
          <%= item.variant.product_name %> 
          <%= link_to 'remove', shopping_cart_item_path(item, :variant_id => item.variant_id), 
                                :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>