
<% @saved_cart_items.each_with_index do |item, i| %>
  <tr>
    <td style="width:20%;vertical-align:top;text-align:right;">
      <div class="tiny">
        <b>Item added on <br/><%= item.created_at.strftime(I18n.translate('time.formats.long_date')) %></b>
      </div>

      <div id='add_<%= i %>_to_cart' class="small-gradientbuttons small-redtheme ready-to-add-to-cart">
        <ul>
          <% unless item.variant.sold_out? %>
            <li>
              <%= link_to 'Move to Cart',
                          move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                          :item_type_id     => ItemType::SHOPPING_CART_ID),
                                                          :method           => 'put',
                                                          :class            => 'button tiny success' %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Remove', shopping_cart_item_path(item, variant_id: item.variant_id),
                                  method: :delete, class: 'button tiny alert' %>
          </li>
        </ul>
      </div>

    </td>
    <td style="vertical-align:top;padding-right: 20px;">
      <div class="small">
        <b>
          <%= link_to item.variant.product_name, product_path(item.variant.product) %>
        </b>
        <%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %><br/>
        <%= item.variant.display_stock_status('', '') %>
        <br/>
      </div>
    </td>
    <td style="vertical-align:top;" class="small">
      <b class="price"><%= number_to_currency item.price %></b><br/>
    </td>

  </tr>

  <tr>
    <td colspan="5">
      <hr style="border-color:#aac;"/>
    </td>
  </tr>
<% end %>
