
<% content_for :head do -%>
  <%= stylesheet_link_tag 'shopping_cart_page.css' %>
<% end %>

<div id='cart-items-wrapper' class='items-wrapper span-18 last'>

  <%= form_for session_cart, :url => shopping_cart_item_path(session_cart), :as => :cart do |cart_form| %>

    <% unless @cart_items.blank? %>
      <div id='update-cart-wrapper' class='span-15'>

          <div id='update_all_cart' class="small-gradientbuttons small-redtheme update-all-cart">
            <ul class=' span-7'>
              <li>
                <span class="tiny ">Make any changes below?</span>
              </li>
              <li>
                <%= cart_form.submit 'update' %>
              </li>
            </ul>

          </div>

      </div>
      <div class=''>
        <%= cart_form.submit 'checkout', {:checkout => 1} %>
      </div>

      <div class="clear"></div>
    <% end %>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <% unless @cart_items.blank? %>
        <tr>
            <td>
                      <table width="100%" cellspacing="0" cellpadding="10">
                        <tbody>
                          <tr valign="top" bgcolor="#ebebe7" width="100%" >
                            <td bgcolor="#ebebe7" colspan="2"  >
                                <b>Shopping Cart Items--To Buy Now</b>
                            </td>
                            <td bgcolor="#ebebe7" class="small"><b>Price:</b></td>

                            <td width="8%" bgcolor="#ebebe7" align="middle" class="small "><b>Qty:</b></td>
                          </tr>
                          <%#= cart_form.fields_for :shopping_cart_items, @cart_items do |cart_items_form| %>
                          <% @cart_items.each_with_index do |item, i| %>
                            <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                              <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
            </td>
          </tr>
        <% end %>

        <tr>
          <td align="center" colspan="1">

          </td>
        </tr>
        <% unless @saved_cart_items.empty? %>
          <tr>
            <td>
              <table width="100%" cellspacing="0" cellpadding="10">
                <tbody>
                  <tr valign="top" bgcolor="#eeeecc">
                      <td bgcolor="#eeeecc" colspan="2"><a name="savedforlater"><b>Saved Items--To Buy Later</b></a></td>
                      <td bgcolor="#eeeecc" colspan="2" class="small"><b>Price:</b></td>
                  </tr>

                  <%= render :partial => '/shopping/cart_items/saved_items' unless @saved_cart_items.empty? %>

                </tbody>
              </table>
            </td>
          </tr>

        <% end %>

      </tbody>
    </table>
  <% end %>
</div>

<div class='span-6 last'>

  <div id='submit_purchase_cart' class="gradientbuttons redtheme purchase-cart">
    <ul>
      <li><%#= link_to 'Checkout', shopping_orders_path, :class => '' %>

      </li>
    </ul>
  </div>
</div>
