<h3>Orders</h3>

<div class="history_orders">
  <table class='hover'>
    <thead>
      <tr class='odd'>
        <th class='column1_header'>Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Completed at</th>
        <th>Shipped</th>
      </tr>
    </thead>

  <% @orders.each do |order| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= link_to order.number, admin_history_order_path(order) %></td>
      <td><%= order.name %></td>
      <td><%= order.email %></td>
      <td><%= order.display_completed_at(:us_time) %></td>
      <td><%= order.has_shipment?.to_s %></td>
    </tr>
  <% end %>
  </table>
</div>
<%= will_paginate @orders %>
<br />

<%#= link_to 'New Order', new_admin_history_order_path %>
