<%= form_for(@admin_fulfillment_order) do |f| %>
  <% if @admin_fulfillment_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_fulfillment_order.errors.count, "error") %> prohibited this admin_fulfillment_order from being saved:</h2>

      <ul>
      <% @admin_fulfillment_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :completed_at %><br />
    <%= f.datetime_select :completed_at %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
