<div class='panel callout'>
  <h4>Shipment Details</h4>
  <% if order.shipments.empty? %>
      <div class='well'>
        No Shipments have been made on this order.<br />
        <% if order.paid? %>
        <a id='create-shipment-button' data-url='<%= create_shipment_admin_fulfillment_order_path(order.id) %>' class='tiny button'> <%= t("label_create_shipment_button") %> </a>
        <% end %>
      </div>
  <% else %>
    <% order.shipments.each do |shipment| %>
      <ul class='vertical-list vertical menu'>
        <li> <label>Shipping Method:</label> <%= shipment.shipping_method.name %></li>
        <li> <label>Shipping #:</label> <%= shipment.number %> </li>
        <li> <label>Tracking:</label> <%= shipment.tracking %> </li>
        <li> <label>State:</label> <%= shipment.state %></li>
      </ul>
    <% end %>
    <div class='panel callout'>
      <%= link_to 'View Shipments for this order.', admin_fulfillment_shipments_path(order_id: order.number) %>
    </div>
  <% end %>
</div>
