<% content_for :sidebar_panel do %>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Filters</h3>
    </div>
    <div class="card-body">
      <%= form_tag admin_fulfillment_orders_path, method: 'get', id: "orders_search" do %>
        <div class="form-group">
          <label class="form-label">Number</label>
          <%= text_field_tag :number, params[:number], class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <%= text_field_tag :email, params[:email], class: "form-control" %>
        </div>
        <div class="form-group">
          <%= check_box_tag :shipped, 'true', params[:shipped] == 'true' %>
          <label class="form-label d-inline">shipped</label>
        </div>
        <div class="form-group">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h1 class="page-title">Shipping Orders</h1>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th><%= sortable "number" %></th>
            <th><%= sortable "email" %></th>
            <th><%= "Name" %></th>
            <th>Status</th>
            <th><%= 'Shipped' %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.number, edit_admin_fulfillment_order_path(order) %></td>
              <td><%= order.email %></td>
              <td><%= order.name %></td>
              <td><%= order.display_completed_at %></td>
              <td><%= order.shipped.to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
