<% content_for :sidemenu do %>
  <%= form_tag admin_fulfillment_orders_path, :method => 'get', :id => "orders_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

    <label>Number</label>
    <%= text_field_tag :number, params[:number] %>

    <label>Email</label>
    <%= text_field_tag :email, params[:email] %>

    <label>Shipped</label>
    <%= check_box_tag :shipped, 'true', params[:shipped] == 'true' %>
    <div style='text-align:center'>
      <%= submit_tag "Search", :name => nil, :class => 'button red-button' %>
    </div>
  <% end %>
<% end %>


<h3>Shipping Orders</h3>

<div class="admin_shipping_orders">
    <table>
      <thead>
      <tr class='odd'>
        <th class='column1_header'><%= sortable "number" %></th>
        <th><%= sortable "email" %></th>
        <th><%= "Name" %></th>
        <th>Status</th>
        <th><%= 'Shipped' %></th>
      </tr>
      </thead>
      <% @orders.each do |order| %>
        <tr class='<%= cycle("odd", "")%>'>
          <td><%= link_to order.number, edit_admin_fulfillment_order_path(order) %></td>
          <td><%= order.email %></td>
          <td><%= order.name %></td>
          <td><%= order.display_completed_at %></td>
          <td><%= order.shipped.to_s %></td>
        </tr>
      <% end %>
    </table>

  <%= will_paginate @orders %>
</div>