<p id="notice"><%= notice %></p>

<p>
  <b>Completed at:</b>
  <%= @admin_fulfillment_order.completed_at %>
</p>

<p>
  <b>Email:</b>
  <%= @admin_fulfillment_order.email %>
</p>

<p>
  <b>Name:</b>
  <%= @admin_fulfillment_order.name %>
</p>


<%= link_to 'Edit', edit_admin_fulfillment_order_path(@admin_fulfillment_order) %> |
<%= link_to 'Back', admin_fulfillment_orders_path %>
