<%= render :partial => '/admin/inventory/sub_header'%>

<h1>Edit Purchase Order</h1>

<%= form_for :purchase_order, @purchase_order, :url  => admin_inventory_purchase_order_path(@purchase_order), 
                        :html => {:class => ''}  do |form| %>
  <%= render :partial => '/admin/inventory/purchase_orders/form', :locals => {:form => form}%>

  <div class="button generic_submit_button">
    <%= submit_tag "Update", 
                    :class  => "button", 
                    :id     => "create_purchase_order_button" %>
  </div>
<% end %>


<%= link_to 'Show', @purchase_order %> |
<%= link_to 'Back', admin_inventory_purchase_orders_path %>