<h3>New Purchase Order</h3>

<%= form_for @purchase_order, url: admin_inventory_purchase_orders_path do |form| %>
  <%= render partial: '/admin/inventory/purchase_orders/form', locals: { form: form } %>
  <div class=' large-4'>
    <%= submit_tag "Create", class: "button float-right" %>
    <%= link_to 'Back', admin_inventory_purchase_orders_path, class: 'tiny button secondary' %>
  </div>
<% end %>



<% content_for :head do -%>
  <%= stylesheet_link_tag 'chosen.css' %>
<% end %>

<% content_for :below_body do -%>
  <%= javascript_include_tag 'chosen/chosen.jquery.min.js' %>
  <%= javascript_include_tag 'admin/purchase_orders' %>
<% end %>
