<div class="page-header">
  <h1 class="page-title">Purchase Order <%= @purchase_order %></h1>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="flex flex-wrap gap-4">
      <div class="flex-1 min-w-0">
        <div class="form-group">
          <label class="form-label">Supplier</label>
          <div><%= @purchase_order.supplier.name %></div>
        </div>
        <div class="form-group">
          <label class="form-label">Invoice Number</label>
          <div><%= @purchase_order.invoice_number %></div>
        </div>
        <div class="form-group">
          <label class="form-label">Total Cost</label>
          <div><%= @purchase_order.total_cost %></div>
        </div>
        <div class="form-group">
          <label class="form-label">Tracking Number</label>
          <div><%= @purchase_order.tracking_number %></div>
        </div>
      </div>
      <div class="flex-1 min-w-0">
        <div class="form-group">
          <label class="form-label">Notes</label>
          <div><%= @purchase_order.notes %></div>
        </div>
        <div class="form-group">
          <label class="form-label">Ordered At</label>
          <div class='date-select'>
            <% if !!@purchase_order.ordered_at %>
              <%= I18n.l @purchase_order.ordered_at, format: :us_time %>
            <% else %>
              ---
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Estimated Arrival on</label>
          <div class='date-select'>
            <% if !!@purchase_order.estimated_arrival_on %>
              <%= I18n.l @purchase_order.estimated_arrival_on, format: :us_date %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Details</h3>
  </div>
  <div class="card-body">
    <% @purchase_order.purchase_order_variants.each do |po_variant| %>
      <div class="mb-3">
        Variant: <%= po_variant.variant.name %><br/>
        Quantity: <%= po_variant.quantity %><br/>
        Cost: <%= po_variant.cost %><br/>
        Received: <%= !!po_variant.is_received %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex gap-2">
  <% if !@purchase_order.receive_po %>
    <%= link_to 'Receive PO', edit_admin_inventory_receiving_path(@purchase_order), class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Back', admin_inventory_purchase_orders_path, class: "btn btn-outline" %>
</div>
