<fieldset id="admin-product-overviews">
  <legend>Inventory</legend>
  <div class="form-group mb-2">Count on Hand</div>
  <div id="variant_overviews">
    <% @product.variants.each do |variant| %>
      <div id='variant_<%= variant.id %>' class="variant_form mb-3 p-3" style="background-color: <%= cycle("#F2F5F9", "#FFF") %>;">
        <%= form.fields_for :variants, variant do |variant_inventory_form|%>
          <div class="flex items-center justify-between flex-wrap gap-2">
            <div class="flex-1">
              <%= variant.name_with_sku %>:  # on hand => <%= variant.count_on_hand %>
            </div>
            <div class="form-group mb-0 flex items-center gap-2">
              <label class="form-label mb-0">Add</label>
              <%= variant_inventory_form.text_field :qty_to_add, class: "form-control", style: "width: 80px;" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</fieldset>
