
<h2>Edit Inventory (<%= @product.name %>)</h2>
<%= error_messages_for 'product' %>
<%= form_for @product, :url  => admin_inventory_overview_path(@product),
                        :html => {:class => 'prepend-4'}  do |form| %>

  <%= render :partial => '/admin/inventory/overviews/form', :locals => {:form => form}%>

  </fieldset>
  <div class=" generic_submit_button">
    <%= form.submit "Update Inventory",
                    class: "button",
                    id:    "edit_inventory_button" %>
  </div>
<% end %>
