%h2
  Edit Inventory (#{@product.name})
= error_messages_for 'product'
= form_for @product, :url  => admin_inventory_overview_path(@product), |
  :html => {:class => 'prepend-4'}  do |form|                          |
  = render :partial => '/admin/inventory/overviews/form', :locals => {:form => form}
  .generic_submit_button
    = form.submit "Update Inventory",    |
      :class  => "button",               |
      :id     => "edit_inventory_button" |
