
<% if @country.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>

<div class="field">
  <%= f.label :shipping_zone_id %>
  <%= f.select :shipping_zone_id, shipping_zones, :include_blank => true %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
