<div class="page-header">
  <h1 class="page-title">Countries</h1>
</div>

<div class="card mb-4" data-controller="country-activate" data-country-activate-base-path-value="<%= activate_admin_config_country_path('__ID__') %>">
  <div class="card-body">
    <p>
      Select other countries below to activate them:
      <%= select_tag "countries_select",
            options_from_collection_for_select(@countries, "id", "name"),
            { prompt: 'Select to activate', class: "form-control",
              data: { country_activate_target: "select", action: "change->country-activate#select" } } %>
      <%= link_to "Activate", "#",
            data: { turbo_method: :put, country_activate_target: "link" },
            style: "display:none;" %>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th><%= sortable 'name', 'Name' %></th>
            <th>Abbreviation</th>
            <th>Shipping Zone</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @active_countries.each do |country| %>
            <tr>
              <td><%= link_to country.name, [:edit, :admin, :config, country] %></td>
              <td><%= country.abbreviation %></td>
              <td><%= country.shipping_zone.try(:name) %></td>
              <td><%= link_to "InActivate", [:admin, :config, country], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @active_countries %>
  </div>
</div>
