<div class="form-group">
  <%= form.label :identifing_name, class: 'form-label' %>
  <%= form.text_field :identifing_name %>
</div>

<div class="form-group">
  <%= form.label :display_name, class: 'form-label' %>
  <%= form.text_field :display_name %>
</div>

<div class="form-actions">
  <%= submit_tag "Create", class: "btn btn-primary", id: "create_product_type_button" %>
</div>
