    <div class='span-3'>
      <%= form.label :identifing_name %>
    </div>
    <div class='span-5 last'>
      <%= form.text_field :identifing_name, :class => 'span-4' %>
    </div>
  <p class='span-9 clear'>
    <div class='span-3'>
      <%= form.label :display_name %>
    </div>
    <div class='span-5 last'>
      <%= form.text_field :display_name, :class => 'span-4' %>
    </div>
  </p>

<div class=" generic_submit_button">
  <%= submit_tag "Create", :class => "button", :id => "create_product_type_button" %>
</div>
