    <div>
      <%= form.label :identifing_name %>
    </div>
    <div class='last'>
      <%= form.text_field :identifing_name %>
    </div>
  <p class='clear'>
    <div>
      <%= form.label :display_name %>
    </div>
    <div class=' last'>
      <%= form.text_field :display_name %>
    </div>
  </p>

<div class=" generic_submit_button">
  <%= submit_tag "Create", class: "button", id: "create_product_type_button" %>
</div>
