<div class="page-header">
  <div>
    <h1 class="page-title">Select Billing Address</h1>
  </div>
  <div class="page-actions">
    <%= link_to "Back to #{truncate(session_admin_cart.customer&.name || 'Customer', length: 35)}'s Cart", admin_shopping_products_path, class: 'btn btn-outline btn-sm' %>
    <%= link_to "New Billing Address", new_admin_shopping_checkout_billing_address_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_tag admin_shopping_checkout_billing_addresses_path do %>
      <div class="d-flex flex-wrap gap-3">
        <% @billing_addresses.each_with_index do |billing_address, i| %>
          <% selected = session_admin_order.bill_address_id == billing_address.id %>
          <div id='select-address-<%= i %>'
               class='card flex-grow-1 <%= 'address_selected' if selected %>'>
            <div class="card-body">
              <%= render partial: '/shared/compact_address', locals: { shopping_address: billing_address } %>
              <div class="d-flex gap-2 mt-2">
                <%= link_to 'Use', select_address_admin_shopping_checkout_billing_address_path(billing_address), data: { turbo_method: 'put' }, class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Edit', new_admin_shopping_checkout_billing_address_path( old_address_id: billing_address.id ), class: 'btn btn-outline btn-sm' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
