<h1>Listing shipments</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Shipping method</th>
    <th>Address</th>
    <th>Tracking</th>
    <th>Number</th>
    <th>State</th>
    <th>Shipped at</th>
    <th></th>
    <th></th>
  </tr>

<% @shipments.each do |shipment| %>
  <tr>
    <td><%= shipment.order_id %></td>
    <td><%= shipment.shipping_method.name %></td>
    <td><%= shipment.address_id %></td>
    <td><%= shipment.tracking %></td>
    <td><%= shipment.number %></td>
    <td><%= shipment.state %></td>
    <td><%= shipment.shipped_at %></td>
    <td><%= link_to 'Show', admin_checkout_shipment_path(shipment) %></td>
    <td><%= link_to 'Edit', edit_admin_checkout_shipment_path(shipment) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipment', new_admin_checkout_shipment_path %>
