<div class="page-header">
  <div>
    <h1 class="page-title">Edit Referral</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @referral, url: [:admin, :user_datas, @referral] do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="form-group"><%= f.submit 'Update', class: 'btn btn-primary' %></div>
    <% end %>
    <div class="d-flex gap-2 mt-3">
      <%= link_to "Show", [:admin, :user_datas, @referral], class: 'btn btn-outline btn-sm' %> |
      <%= link_to "View All", admin_user_datas_referrals_path, class: 'btn btn-outline btn-sm' %>
    </div>
  </div>
</div>
