<%= render partial: '/admin/merchandise/sub_header'%>

<h1> Edit Property </h1>

<%= form_for(@product, url: admin_merchandise_changes_product_property_path(@product.id)) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class=" generic_submit_button">
    <%= f.submit "Update",
                    class: "button",
                    id:    "update_product_properties_button" %>
    <%= link_to "Back to Product", admin_merchandise_product_path(@product), class: 'button' %>
  </div>
<% end %>

