<% if @tax_rate.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tax_rate.errors.count, "error") %> prohibited this Tax Rate from being saved:</h2>
    <ul>
      <% @tax_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.input :percentage %>
<%= f.association :tax_status, :collection => @tax_statuses %>
<%= f.input :country, :collection => @countries, :input_html => { :id => 'select_country' } %>
<%= f.association :state, :collection => @states %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.check_box :active %>
<div class="actions">
  <%= f.submit %>
</div>
