<h3>New Tax Rate</h3>

<%= form_for(@tax_rate, :url => admin_config_tax_rates_path()) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
  <%= f.submit t("button_create"), :class => "button" %>
  <%= link_to t("button_back"), admin_config_tax_rates_path, :class => 'secondary button' %>
<% end %>


<% content_for :bottom do -%>
  <%= javascript_include_tag "admin/config_tax_rate" %>

  <script>
    Hadean.Utility.registerOnLoadHandler(Hadean.TaxRateForm.initialize());
  </script>
<% end %>
