<p>
  <b>Percentage:</b>
  <%= @tax_rate.percentage %>
</p>

<% if Settings.tax_per_state_id %>
  <p>
    <b>State:</b>
    <%= @tax_rate.state.name %>
  </p>
<% else %>
  <p>
    <b>Country:</b>
    <%= @tax_rate.country.name %>
  </p>
<% end %>

<p>
  <b>Start date:</b>
  <%= @tax_rate.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @tax_rate.end_date %>
</p>

<p>
  <b>Active:</b>
  <%= @tax_rate.active %>
</p>


<%= link_to 'Edit', edit_admin_config_tax_rate_path(@tax_rate), :class => 'button' %>
<%= link_to 'Back', admin_config_tax_rates_path, :class => 'button' %>
