<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Edit Product Description</h1>
  <div class="page-actions">
    <%= link_to 'Back to Product', admin_merchandise_product_path(@product), class: 'btn btn-outline btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @product, url: admin_merchandise_products_description_path(@product) do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description_markup, class: "form-label" %>
        <%= f.text_area :description_markup, id: "markItUp", cols: "92", rows: "15", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
