<%= f.error_messages %>

<fieldset>
  <label>Buy Quantity</label>
  <%= f.number_field :buy_quantity %>

  <label>Get Percentage</label>
  <%= f.number_field :get_percentage %>

  <label>Deal Type</label>
  <%= f.number_field :deal_type_id %>

  <label>Product Type</label>
  <%= f.number_field :product_type_id %>

  <label>Get Amount</label>
  <%= f.number_field :get_amount %>

  <label>Deleted at</label>
  <div class='date-select'>
    <%= f.datetime_select :deleted_at %>
  </div>
</fieldset>