<h3>Edit Deal</h3>

<%= form_for @deal, :url => [:admin, :generic, @deal] do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Update' , :class => 'button' %></div>
<% end %>

<p>
  <%= link_to "Show", [:admin, :generic, @deal], :class => 'button secondary' %>
  <%= link_to "View All", admin_generic_deals_path, :class => 'button secondary' %>
</p>
