%h3 Edit Deal
= form_for @deal, :url => [:admin, :generic, @deal] do |f|
  = render :partial => 'form', :locals => {:f => f}
  .actions= f.submit 'Update' , :class => 'button'
%p
  = link_to "Show", [:admin, :generic, @deal], :class => 'button'
  |
  = link_to "View All", admin_generic_deals_path, :class => 'button'
