<h2> Supplier: <%= @supplier.name %></h2>
<div id="admin-product-names" class='large-6'>

  <div class=''>
    <%= label :supplier, :name %>
    <%= @supplier.name %>
  </div>
  <div class='clear'></div>

  <div class=''>
    <%= label :supplier, :email %>
    <%= @supplier.email %>
  </div>

</div>
