<% content_for :head do -%>
  <%= javascript_include_tag "admin/index_grid" %>
<% end %>

<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Properties </h2>

<div id="admin_properties_page_wrapper">
  <div id="admin_properties_grid_wrapper" class='column'>
    <%= raw jqgrid("Properties", "admin_properties_grid", admin_merchandise_properties_path,
      [
        { :field => "identifing_name",   :label => "Name ID",     :width => 255,  :resizable => false },
        { :field => "display_name",   :label => "Name",     :width => 200,  :resizable => false },
        { :field => "display_active", :label => "Active?",  :width => 70,   :resizable => false }
      ],
      {
        :height             => "360",
        :alt_rows           => true,
        :direct_selection   => true,
        :editable           => true,
        :selection_handler  => "Hadean.AdminIndexForm.editSelection",
        :rownumbers         => false,
        :rows_per_page      => 20,
        :row_list           => [20, 50, 100]
      }
    ) %>
  </div>

  <div id="admin_new_property_button" class="admin_new_button last">
    <%= link_to "New Property", new_admin_merchandise_property_path, :class => "button", :id => "new_property_button" %>
  </div>
</div>
<%= jqgrid_stylesheets %>
<%= jqgrid_javascripts %>


<script>
  Hadean.AdminIndexForm.registerOnLoadHandler(Hadean.AdminIndexForm.initialize('/admin/merchandise/properties'));
</script>