<%= render partial: '/admin/merchandise/sub_header' %>

<% content_for :sidebar_panel do %>
  <div class="admin_filters">
    <%= form_tag admin_merchandise_properties_path, method: 'get', id: "properties_search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="form-group">
        <label class="form-label">Identifying Name</label>
        <%= text_field_tag :identifing_name, params[:identifing_name], class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">Display Name</label>
        <%= text_field_tag :display_name, params[:display_name], class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <h1 class="page-title">Properties</h1>
  <div class="page-actions">
    <%= link_to "New Property", new_admin_merchandise_property_path, class: "btn btn-primary", id: "new_property_button" %>
  </div>
</div>

<div class="data-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th><%= sortable 'identifing_name', "ID name" %></th>
        <th><%= sortable "display_name" %></th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= link_to property.identifing_name, edit_admin_merchandise_property_path(property) %></td>
          <td><%= property.display_name %></td>
          <td><%= property.display_active %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @properties %>
