- tracker = Settings.google.analytics_code
- if tracker
  :javascript
    var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{tracker}']);
        _gaq.push(['_setDomainName', 'ufcfit.com']);
        _gaq.push(['_setAllowLinker', true]);
    
    <haml:silent>     if flash[:analytics] 
    </haml:silent><haml:block>      _gaq.push(['_trackPageview', '#{flash[:analytics]}']);
    </haml:block><haml:silent>     else 
    </haml:silent><haml:block>      _gaq.push(['_trackPageview']);
    </haml:block>
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
    <haml:silent>     if customer_confirmation_page_view && @order 
    </haml:silent><haml:block>      // report e-commerce transaction information when applicable
          _gaq.push(['_addTrans',
            '#{@order.try(:number)}', //Order Number
            '', //Affiliation
            '#{@order.try(:find_total).try(:to_f)}', //Order total
            '#{@order.try(:total_tax_charges).try(:to_f)}', //Tax Amount
            '#{@order.try(:shipping_charges)}', //Ship Amount
            '#{@order.try(:ship_address).try(:city)}', //City
            '#{@order.try(:ship_address).try(:display_state_name)}', //State
            ''  //Country
          ]);
    
    <haml:silent>       @order.order_items.each do |order_item| 
    </haml:silent><haml:block>        _gaq.push(['_addItem',
              '#{@order.try(:number)}',
              '#{order_item.try(:variant).try(:sku)}',
              '#{order_item.try(:variant).try(:product_name)}',
              '', // category or variation
              '#{order_item.try(:price)}',
              '1'
            ]);
    </haml:block>
          _gaq.push(['_trackTrans']);
    </haml:block>
        $(document).on('click', ' a.checkout-button', function() {
          _gaq.push(['_trackEvent', 'beginCheckout', 'clicked'])
        });
        $(document).on('click', ' a.add-to-cart-button', function() {
          _gaq.push(['_trackEvent', 'addToCart', 'clicked'])
        });
