  <div class='twelve column'>
    <% if content_for? :account_title %>
      <h2><%= yield :account_title %></h2>
    <% else %>
      <h2>Your Account</h2>
    <% end %>
  </div>
  <div id='myaccount-header-menu' class="two columns">
    <ul  class=" side-nav">
      <li <%= selected_myaccount_tab('address') ? 'class=active' : '' %>>
        <%= link_to 'Addresses', myaccount_addresses_path() %></li>
      <li <%= selected_myaccount_tab('credit_cards') ? 'class=active' : '' %>>
        <%= link_to 'Credit Cards', myaccount_credit_cards_path() %></li>
      <li <%= selected_myaccount_tab('orders') ? 'class=active' : '' %>>
        <%= link_to 'Orders', myaccount_orders_path() %>
      </li>
      <li <%= selected_myaccount_tab('profile') ? 'class=active' : '' %>>
        <%= link_to 'Profile', myaccount_overview_path() %>
      </li>
    </ul>
  </div>
