<div class=" bp">
  <div id="header_wrapper" class='bp'>
    <div class="container logged-in" id="header">
      <h1 id="logo">
        <%= link_to image_tag( "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'), root_path %>
        <%#= link_to 'RoR Ecommerce', root_path %>
      </h1>
      <ul id="menu-main">
        <li id="menu-main-discover">
          <a href="/"><strong>Commerce</strong> <span>that scales</span></a>
        </li>

        <li class="" id="menu-main-cart">
            <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
                <strong> Cart </strong> <span>view your stuff.</span>
            <% end %>
        </li>
        <li class="" id="menu-main-wish">
            <%= link_to(wish_items_path, :id => 'wish_items_button') do %>
                <strong> Wish List </strong> <span>what you want.</span>
            <% end %>
        </li>

        <li class="" id="menu-main-user">
          <div>
            <% unless current_user %>
              <strong><%= link_to 'Login',  login_path %></strong> or
              <span><%= link_to 'Sign up', signup_path %></span>
            <% else %>
              <strong>Hi <%= current_user.first_name %></strong>
              <span>(<%= link_to 'not you?', logout_path %>)</span>
            <% end %>
          </div>
        </li>
      </ul>

      <%= render '/layouts/product_search' %>
    </div>
  </div>
  <div id="sub_header_wrapper" class='bp'>
    <div id="sub_sub_header_wrapper" class='container'>
      <%= render 'shared/main_product_tabs' %>
    </div>
  </div>
</div>

