<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birth date:</b>
  <%= @user.birth_date %>
</p>


<%= link_to 'Edit', edit_admin_shopping_user_path(@user) %> |
<%= link_to 'Back', admin_shopping_users_path %>
