<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Add Product Images</h1>
</div>

<div class="mb-3">
  <strong><%= @product.name.possessive %> Images</strong>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @product, url: admin_merchandise_images_product_path(@product), multipart: true, data: { controller: "nested-form" } do |form| %>
      <%= render partial: '/admin/merchandise/images/products/form', locals: { form: form } %>
      <div class="form-group">
        <%= submit_tag "Create", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<div class="page-actions">
  <%= link_to 'View Images', admin_merchandise_images_product_path(@product), class: "btn btn-outline btn-sm" %>
  <%= link_to 'Product Details', admin_merchandise_product_path(@product), class: "btn btn-outline btn-sm" %>
</div>
