<%= render partial: '/admin/merchandise/sub_header'%>

<h3>Images for '<%= @product.name %>'</h3>

<% @product.images.each do |image| %>
  <label><%= image.photo_file_name %></label>
  <%= image_tag image.photo.url(:small) %>
<% end %>

<p style="margin-top: 30px">
  <%= link_to 'Edit Images', edit_admin_merchandise_images_product_path(@product), class: "button"%>
  <%= link_to 'Product Details', admin_merchandise_product_path(@product), class: "button"%>
</p>
