  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this shopping_address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="inline">
      <div class="field column">
         <%= f.text_field :first_name, :input_html => {:class => 'span-3'} %>
      </div>

      <div class="field column">
        <%= f.text_field :last_name, :input_html => {:class => 'span-3'} %>
      </div>
    </div>
<div class='clear'></div>
  <div class="field column">
    <%= f.text_field :address1 %><br/>

    <%= f.text_field :address2 %>
  </div>
<div class='clear'></div>

  <div class="field column">
    <%= f.select   :state_id,
                   @states,
                  :include_blank => true %>
  </div>
<div class='clear'></div>
  <div class="inline span-12">
    <div class="field column">
      <%= f.text_field :city, :input_html => {:class => 'span-3'} %>
    </div>

    <div class="field column">
      <%= f.text_field :zip_code, :required => true, :input_html => {:class => 'span-2'} %>
    </div>
  </div>

<div class='clear'></div>
  <div class="field">
    <%#= f.input :phone %>
  </div>

  <div class="field column">
    <%= check_box_tag :default, 1, @address.default? %><%= f.label :default, "Make this my default shipping method", :class => 'auto_width' %>
  </div>







  <div class="actions column prepend-1">
    <%= f.submit %>
  </div>