<div class='nine large-9 columns'>
  <h3> Addresses </h3>
  <% if @addresses.empty? %>
    <p>
      <%= I18n.t(:no_addresses_saved) %>
    </p>
  <% else %>
    <ul>
      <% for address in @addresses %>
        <li><br/>
          <%= render :partial => '/shared/compact_address', locals: { shopping_address: address } %>
          <%= link_to "Edit", edit_myaccount_address_path(address) %> |
          <%= link_to "Remove", myaccount_address_path(address), data: { confirm: 'Are you sure?' }, method: :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p><%= link_to "New Address", new_myaccount_address_path, class: "button" %></p>
</div>
