<% if @variant.errors.any? %>
  <div id="error_explanation" class="mb-4 p-4 bg-red-50 border border-red-200 rounded">
    <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this adjustment from being saved:</h2>
    <ul>
    <% @variant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="flex flex-wrap gap-4">
  <div class="form-group flex-1">
    <%= f.label :qty_to_add, class: "form-label" %>
    <%= f.number_field :qty_to_add, { step: 1 }, class: "form-control" %>
  </div>
  <div class="form-group flex-1">
    <label class="form-label">Amount ($$$) Refunded by the Supplier</label>
    <%= number_field_tag :refund, 0.00, { step: 0.01 }, class: "form-control" %>
  </div>
</div>
