<div class="page-header">
  <h1 class="page-title">Inventory Adjustment for <%= @variant.product_name %></h1>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for(@variant, url: admin_inventory_adjustment_path(@variant)) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="form-group mt-4">
        <%= f.submit "Update Inventory", class: "btn btn-primary", id: "adjust_inventory_button" %>
      </div>
    <% end %>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>count on hand</th>
            <th>pending to customer</th>
            <th>count pending from supplier</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @variant.sku %></td>
            <td><%= @variant.inventory.count_on_hand %></td>
            <td><%= @variant.inventory.count_pending_to_customer %></td>
            <td><%= @variant.inventory.count_pending_from_supplier %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="flex gap-2 mt-4">
  <%= link_to "Show #{@variant.product_name}", admin_inventory_adjustment_path(@variant.product), class: "btn btn-outline" %>
  <%= link_to 'View Products', admin_inventory_adjustments_path, class: "btn btn-outline" %>
</div>
