<h2>Add Products</h2>
<p id="notice"><%= notice %></p>

<% if @product.variants.empty? %>
  Sorry This product has no variants
<% else %>
  <%= form_tag admin_shopping_product_path(@product), :method => 'put' do %>
    <% @product.variants.each_with_index do |variant, i| %>
      <div  id='variant-<%= i %>'
            class='<%= cycle("line_item_yellow", "line_item_gray") %> clear clearfix'>
        <%= raw variant.display_property_details %>
        <%= number_to_currency( variant.price ) %>
        <div id='variant-qty-<%= i %>' class='span-3'>
          Quantity: <%= text_field_tag("variant[#{ variant.id }]", nil, :class => 'span-1', :style => 'width:50px;') %>
        </div>
        <%= variant.display_stock_status %>(<%= variant.quantity_available %>)
      </div>
    <% end %>

    <%= submit_tag 'Add Items' %>
  <% end %>
<% end %>

<%= link_to 'Back', admin_shopping_products_path %>
