<% content_for :sidebar_panel do %>
  <%= render partial: '/admin/shopping/right_panel_summary' %>
  <div class='admin_filters mt-3'>
    <%= form_tag admin_shopping_products_path, method: 'get', :id => "products_search" do %>
      <p>
        <ul class=' search_boxes'>
          <li><%= label_tag 'Name' %> <%= text_field_tag :name, params[:name] %></li>
          <li><%= label_tag 'Product Type' %>
              <%= select_tag "product_type_id", options_from_collection_for_select(product_types, "id", "name"), { include_blank: true, class: 'auto_width'} %>
          </li>
        </ul>
        <div class="d-flex justify-content-center">
          <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
        </div>
      </p>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <div>
    <h1 class="page-title">Products</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr class='odd'>
            <th class='column1_header'><%= sortable "name" %></th>
            <th>Available</th>
            <th><%= 'Product Type' %></th>
            <th> Price Range </th>
          </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr class='<%= cycle("odd", "")%>'>
            <td><%= link_to product.name, edit_admin_shopping_product_path(product) %></td>
            <td><%=  product.available? ? 'Yes' : 'No' %></td>
            <td><%=  product.product_type.name %></td>
            <td><%= product.display_price_range %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @products %>
  </div>
</div>
