<div class="page-header">
  <div>
    <h1 class="page-title">Reports</h1>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex flex-wrap gap-4 mb-3">
      <div class="flex-grow-1">
        <h4> Start <%= I18n.localize(start_time,  :format => :us_time) %> </h4>
      </div>
      <div class="flex-grow-1">
        <h4> End <%= I18n.localize(end_time,  :format => :us_time) %> </h4>
      </div>
    </div>
    <ul class='vertical-list long'>
      <li><label># of cart items added</label><%= @final_number_of_cart_items - @beginning_number_of_cart_items %></li>
      <li><label>Total # of cart items</label><%= @final_number_of_cart_items %></li>
      <li><label># of Orders      </label><%= @orders_report.quantity        %></li>
    </ul>
  </div>
</div>

<div class="d-flex flex-wrap gap-4">
  <div class="card flex-grow-1">
    <div class="card-header">
      <h4 class="card-title">Accounting</h4>
    </div>
    <div class="card-body">
      <ul>
        <li><label>Revenue              </label><%= number_to_currency @accounting_report.revenue             %></li>
        <li><label>Cash                 </label><%= number_to_currency @accounting_report.cash                %></li>
        <li><label>Accounts Receivable  </label><%= number_to_currency @accounting_report.accounts_receivable %></li>
        <li><label>Accounts Payable     </label><%= number_to_currency @accounting_report.accounts_payable    %></li>
      </ul>
    </div>
  </div>
  <div class="card flex-grow-1">
    <div class="card-header">
      <h4 class="card-title">Orders</h4>
    </div>
    <div class="card-body">
      <ul>
        <li><label>Amount           </label><%= number_to_currency @orders_report.total_amount    %></li>
        <li><label>Amount Returned  </label><%= number_to_currency @orders_report.amount_returned %></li>
      </ul>
    </div>
  </div>
  <div class="card flex-grow-1">
    <div class="card-header">
      <h4 class="card-title">Customers</h4>
    </div>
    <div class="card-body">
      <ul>
        <li>
          <label>Final # of Users </label>
          <%= @customers_report.total_users %>
        </li>
        <li><label>New Users in TimeFrame  </label><%= @customers_report.users_in_timeframe     %></li>
        <li>
          <label>Final # of Customers </label>
          <%= @customers_report.total_customers        %>
        </li>
        <li><label> Customers in TimeFrame </label><%= @customers_report.customers_in_timeframe %></li>
      </ul>
    </div>
  </div>
  <div class="card flex-grow-1">
    <div class="card-header">
      <h4 class="card-title">Filter</h4>
    </div>
    <div class="card-body">
      <%= form_tag( admin_reports_overview_path(),
                                    :method => :get,
                                    :id   => 'request_report_form') do  %>
        <%= hidden_field_tag('schedule', nil) %>
        <ul id='report-filters'>
          <li class="form-group">
            <label class="form-label">Start Date</label>
            <%= text_field_tag 'start_date', nil, :placeholder => 'dd/mm/yyyy', type: 'date' %>
          </li>
          <li class="d-flex gap-2 mt-2">
            <%= submit_tag 'Daily',
                                    :data  => { disable_with: 'Please wait...' },
                                    :class => 'btn btn-primary btn-sm report-submit-button' %>
            <%= submit_tag 'Weekly',
                                      :data  => { disable_with: 'Please wait...' },
                                      :class => 'btn btn-primary btn-sm report-submit-button' %>
            <%= submit_tag 'Monthly',
                                      :data  => { disable_with: 'Please wait...' },
                                      :class => 'btn btn-primary btn-sm report-submit-button' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
