<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Editing Brand - <%= @brand.name %></h1>
  <div class="page-actions">
    <%= link_to 'Show', admin_merchandise_brand_path(@brand), class: 'btn btn-outline' %>
    <%= link_to 'View All', admin_merchandise_brands_path, class: 'btn btn-outline' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @brand, url: admin_merchandise_brand_path(@brand) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="form-group">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
