
<%= render :partial => '/admin/merchandise/sub_header'%>
<h1> Edit Brand </h1>
<p>
<%= form_for(@brand, :url => admin_merchandise_brand_path(@brand)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="actions">
    <%= f.submit 'Update', :class => 'button' %>
  </div>
<% end %>
</p>
<p>
  <%= link_to 'Show', admin_merchandise_brand_path( @brand ), :class => 'button' %> |
  <%= link_to 'View All', admin_merchandise_brands_path, :class => 'button' %>
</p>