<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Editing Prototype: <%= @prototype.name %></h1>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @prototype, url: admin_merchandise_prototype_path(@prototype) do |form| %>
      <%= render partial: '/admin/merchandise/prototypes/form', locals: { form: form } %>
      <div class="form-actions">
        <%= submit_tag "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
