<%= render partial: '/admin/merchandise/sub_header' %>

<% content_for :sidebar_panel do %>
  <div class="card">
    <div class="card-header"><h3 class="card-title">Filters</h3></div>
    <div class="card-body">
      <%= form_tag admin_merchandise_prototypes_path, method: 'get', id: "prototypes_search" do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="form-group">
          <label class="form-label">Name</label>
          <%= text_field_tag :name, params[:name] %>
        </div>
        <div class="text-center">
          <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h1 class="page-title">Prototypes</h1>
  <div class="page-actions">
    <%= link_to "New Prototype", new_admin_merchandise_prototype_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="data-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @prototypes.each do |prototype| %>
        <tr>
          <td><%= link_to prototype.name, edit_admin_merchandise_prototype_path(prototype) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_nav(@pagy) %>
