
<h1>Change address</h1>
<%#= form_for(address) do |f| %>
<%#= render 'form' %>
<%# end %>

<% @addresses.each_with_index do |address, i| %>
  <% selected = @address.id == address.id %>
  <div  id='select-address-<%= i %>'
        class='span-5 rounded-4
              <%= cycle("line_item_yellow", "line_item_gray") %>
              <%= 'address_selected' if selected %>'>
    <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => address} %>
    <% if selected %>
      Currently Selected.
    <% else %>
      <%= link_to 'Use', admin_fulfillment_shipment_address_path(@shipment, address), :method => 'put' %>
    <% end %>
    <%#= link_to 'Edit', new_admin_shopping_shipping_address_path(:old_address_id => shipping_address.id) %>
  </div>
<% end %>
