<div class="page-header">
  <h1 class="page-title">Change address</h1>
</div>

<div class="flex flex-wrap gap-4">
  <% @addresses.each_with_index do |address, i| %>
    <% selected = @address.id == address.id %>
    <div id='select-address-<%= i %>'
         class="card flex-1 min-w-0 <%= 'address_selected' if selected %>"
         style="background-color: <%= cycle('#fef9e7', '#f6f6f6') %>;">
      <div class="card-body">
        <%= render partial: '/shared/compact_address', locals: { shopping_address: address } %>
        <% if selected %>
          Currently Selected.
        <% else %>
          <%= link_to 'Use', admin_fulfillment_shipment_address_path(@shipment, address), data: { turbo_method: :put }, class: "btn btn-outline btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
