  <% if @shipping_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_rate.errors.count, "error") %> prohibited this shipping_rate from being saved:</h2>

      <ul>
      <% @shipping_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :shipping_method_id,  :as => :select, 
                                      :collection => @shipping_methods %>
  </div>
  <div class="field">
    <%= f.input :rate %>
  </div>
  <div class="field">
    <%= f.input :shipping_rate_type_id, :as => :select, 
                                        :collection => @shipping_rate_types %>
  </div>

  <div class="field">
    <%= f.input :shipping_category_id, :as => :select, 
                                        :collection => @shipping_categories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
