<%= render :partial => '/admin/config/sub_header'%>
<h1>Editing shipping_rate</h1>

<%= semantic_form_for(:shipping_rate, @shipping_rate, :url => admin_config_shipping_rate_path) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', admin_config_shipping_rate_path(@shipping_rate) %> |
<%= link_to 'Back', admin_config_shipping_rates_path %>
