<div class="page-header">
  <h1 class="page-title">Shipping Rates</h1>
  <div class="page-actions">
    <%= link_to 'New Shipping Rate', new_admin_config_shipping_rate_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Shipping Method</th>
            <th>Rate</th>
            <th>Shipping rate type</th>
            <th>Minimum Charge</th>
            <th>Category</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @shipping_rates.each do |shipping_rate| %>
            <tr>
              <td><%= shipping_rate.shipping_method.descriptive_name %></td>
              <td><%= shipping_rate.rate %></td>
              <td><%= shipping_rate.shipping_rate_type.name %></td>
              <td><%= shipping_rate.minimum_charge %></td>
              <td><%= shipping_rate.shipping_category.name %></td>
              <td><%= link_to 'Show', admin_config_shipping_rate_path(shipping_rate), class: 'btn btn-sm btn-outline' %></td>
              <td><%= link_to 'Edit', edit_admin_config_shipping_rate_path(shipping_rate), class: 'btn btn-sm btn-outline' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
