<div class="admin_title_header">
  <h3>Shipping Rates</h3>
  <%= link_to 'New Shipping Rate', new_admin_config_shipping_rate_path, :class => 'button' %>
</div>

<div class="admin_shipping_rates">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Shipping Method</th>
      <th>Rate</th>
      <th>Shipping rate type</th>
      <th>Minimum Charge</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

  <% @shipping_rates.each do |shipping_rate| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= shipping_rate.shipping_method.descriptive_name %></td>
      <td><%= shipping_rate.rate %></td>
      <td><%= shipping_rate.shipping_rate_type.name %></td>
      <td><%= shipping_rate.minimum_charge %></td>
      <td><%= shipping_rate.shipping_category.name %></td>

      <td><%= link_to 'Show', admin_config_shipping_rate_path(shipping_rate) %></td>
      <td><%= link_to 'Edit', edit_admin_config_shipping_rate_path(shipping_rate) %></td>
    </tr>
  <% end %>
  </table>
</div>
