<p>
  <b>Shipping method:</b>
  <%= @shipping_rate.shipping_method.descriptive_name %>
</p>

<p>
  <b>Rate:</b>
  <%= @shipping_rate.rate %>
</p>

<p>
  <b>Minimum Charge:</b>
  <%= @shipping_rate.minimum_charge %>
</p>

<p>
  <b>Shipping rate type:</b>
  <%= @shipping_rate.shipping_rate_type.name %>
</p>


<%= link_to 'Edit', edit_admin_config_shipping_rate_path(@shipping_rate), class: 'button' %>
<%= link_to 'Back', admin_config_shipping_rates_path, class: 'button' %>
