<h1> Edit <%= @image_group.name %> </h1>

<p><strong><%= @image_group.product.name.possessive %> Image group</strong></p>

<%= form_for @image_group, url: [:admin, :merchandise, @image_group] do |f| %>
  <%=  render partial: 'form', locals: { form: f} %>
  <div class="actions large-10">
    <%= link_to "Show", [:admin, :merchandise, @image_group], class: 'button secondary small' %>
    <%= link_to "Back to List", admin_merchandise_image_groups_path, class: 'button secondary small' %>
    <%= f.submit 'Update' , class: 'button float-right' %>
  </div>
<% end %>

<%= render partial: 'how_image_groups_work' %>
