<div class="page-header">
  <h1 class="page-title">Image Groups</h1>
</div>

<div class="data-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th><%= sortable 'name', 'Name' %></th>
        <th>Product</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for image_group in @image_groups %>
        <tr>
          <td><%= link_to image_group.name, [:admin, :merchandise, image_group] %></td>
          <td><%= image_group.product.name %></td>
          <td><%= link_to "edit", edit_admin_merchandise_image_group_path(image_group) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_nav(@pagy) %>

<p class="mt-3">
  <%= link_to "New Image Group", new_admin_merchandise_image_group_path, class: 'btn btn-primary' %>
</p>
<%= render partial: 'how_image_groups_work' %>
