<%= render partial: 'how_image_groups_work' %>

<div class="page-header">
  <h1 class="page-title">New Image Group</h1>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @image_group, url: admin_merchandise_image_groups_path(@image_group) do |f| %>
      <%= f.error_messages %>
      <div class="form-group">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :product_id, class: "form-label" %>
        <%= f.select :product_id, products, { include_blank: true }, class: "form-control" %>
      </div>
      <div class="d-flex gap-2 mt-3">
        <%= link_to "Back to List", admin_merchandise_image_groups_path, class: 'btn btn-outline' %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
