<div class="page-header">
  <h1 class="page-title">Image Group</h1>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label class="form-label">Name:</label>
      <p><%= @image_group.name %></p>
    </div>
    <div class="form-group">
      <label class="form-label">Product:</label>
      <p><%= @image_group.product.name %></p>
    </div>
    <div class="form-group">
      <div class="d-flex flex-wrap gap-2">
        <% @image_group.image_urls.each do |image_url| %>
          <div>
            <%= image_tag image_url %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="page-actions mt-3">
      <%= link_to "Edit", edit_admin_merchandise_image_group_path(@image_group), class: 'btn btn-outline' %>
      <%= link_to "View All", admin_merchandise_image_groups_path, class: 'btn btn-outline' %>
    </div>
  </div>
</div>
