<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex flex-wrap gap-4">
  <div class="flex-grow-1">
    <div class="form-group">
      <label class="form-label">Code</label>
      <%= f.text_field :code %>
    </div>
    <% unless @coupon.id %>
      <div class="form-group">
        <label class="form-label">Type</label>
        <%= select_tag :c_type, options_for_select(@coupon_types), include_blank: true %>
      </div>
    <% end %>

    <div class="form-group">
      <label class="form-label">Amount</label>
      <%= f.text_field :amount %>
    </div>

    <div class="form-group">
      <label class="form-label">Minimum Value</label>
      <%= f.text_field :minimum_value %>
    </div>

    <div class="form-group">
      <label class="form-label">Percent</label>
      <%= f.text_field :percent %>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="form-group">
      <label class="form-label">Description</label>
      <%= f.text_area :description %>
    </div>

    <div class="form-group">
      <label class="form-label">Combine</label>
      <%= f.check_box :combine %>
    </div>

    <div class="form-group">
      <label class="form-label">Starts at</label>
      <div class='date-select'>
        <%= f.date_select :starts_at %>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Expires at</label>
      <div class='date-select'>
        <%= f.date_select :expires_at %>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.submit "Create", class: "btn btn-primary" %>
</div>
