<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <label>Code</label>
  <%= f.text_field :code %>

  <% unless @coupon.id %>
    <label>Type</label>
    <%= f.select :type, @coupon_types, { :include_blank => true } %>
  <% end %>

  <label>Amount</label>
  <%= f.text_field :amount %>

  <label>Minimum Value</label>
  <%= f.text_field :minimum_value %>

  <label>Percent</label>
  <%= f.text_field :percent %>

  <label>Description</label>
  <%= f.text_area :description %>

  <label>Combine</label>
  <%= f.check_box :combine %>

  <label>Starts at</label>
  <div class='date-select'>
    <%= f.date_select :starts_at %>
  </div>

  <label>Expires at</label>
  <div class='date-select'>
    <%= f.date_select :expires_at %>
  </div>
</fieldset>

<%= f.submit "Create", :class => "button" %>