<% if @coupon.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>
    <ul>
    <% @coupon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.input :code %>

<% unless @coupon.persisted? %>
  <%= f.input :type, :label => 'Type', :collection => @coupon_types, :include_blank => true %>
<% end %>

<%= f.input :amount %>
<%= f.input :minimum_value %>
<%= f.input :percent %>
<%= f.input :description, :as => :text %>
<%= f.check_box :combine %>
<%= f.input :starts_at %>
<%= f.input :expires_at %>

<div class="actions">
  <%= f.submit %>
</div>
