
<h1> Coupon </h1>

<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @coupon.amount %>
</p>

<p>
  <strong>Minimum Value:</strong>
  <%= @coupon.minimum_value %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @coupon.percent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<p>
  <strong>combine:</strong>
  <%= @coupon.combine.to_s %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @coupon.display_start_time %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @coupon.display_expires_time %>
</p>

<p>
  <%= link_to "Edit", edit_admin_generic_coupon_path(@coupon), :class => 'button' %> |
  <%= link_to "View All", admin_generic_coupons_path, :class => 'button' %>
</p>
