<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cart.user_id %>
</p>

<p>
  <b>Variant:</b>
  <%= @cart.variant_id %>
</p>

<p>
  <b>Active:</b>
  <%= @cart.active %>
</p>

<p>
  <b>Item type:</b>
  <%= @cart.item_type_id %>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
