<div class='nine large-9 columns'>
  <h3> Credit Cards </h3>
  <% if @credit_cards.empty? %>
    <p>
      You do not have a Credit Card on File
    </p>
  <% else %>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% for credit_card in @credit_cards %>
        <tr>
          <td><%= credit_card.name %></td>
          <td><%= link_to "Show", myaccount_credit_card_path(credit_card) %></td>
          <td><%= link_to "Edit", edit_myaccount_credit_card_path(credit_card) %></td>
          <td><%= link_to "Remove", myaccount_credit_card_path(credit_card), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <p><%= link_to "New Credit Card", new_myaccount_credit_card_path, :class => 'button' %></p>
</div>
