<%= form.fields_for :variants, Variant.new(:product_id => @product.id), :child_index => "new_variants" do |ff| %>
  <div id='variants_fields_template' style='display:none;'>
    <div class='span-6 three columns new_variant_container'  style='float: left;' >
      <table class='span-6 ar-sidebar' style='width:270px;' >
        <tr>
          <td></td>
          <td style='float:right;'> <%= link_to '', '#remove', :class => 'ss_sprite ss_cross remove_variant_child' %> </td>
        </tr>
        <tr>
          <td>SKU   </td><td> <%= ff.text_field :sku, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Price </td><td> <%= ff.text_field :price, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Cost  </td><td> <%= ff.text_field :cost, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Brand </td><td> <%= ff.select :brand_id, @brands, { :include_blank => true }, :class => 'span-3' %> </td>
        </tr><tr>

          <% @product.properties.each do |property| %>
            <tr style='background:#ACF;text-align:center;'> <th colspan=2> <%= property.display_name %> </th> </tr>
            <% variant_id = variant.id rescue nil %>
            <% variant_property = property.variant_properties.find_or_initialize_by_variant_id(variant_id) if variant_id %>
            <% variant_property ||= VariantProperty.new(:property_id => property.id) %>
              <%= ff.fields_for :variant_properties,
                               variant_property  do |variant_property_form|%>
                <tr>
                  <td>
                    <%#= variant_property_form.select :presentation_id, VariantProperty.presentation_options %>
                    Primary? <%= variant_property_form.check_box  :primary %>
                  </td>
                  <td >
                      <%= variant_property_form.hidden_field  :property_id %>
                      <%= variant_property_form.text_field    :description, :class => 'span-3' %>
                  </td >
                </tr>
              <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
<% end %>

<% @product.variants.each do |variant| %>
  <div class='span-6 column '  style='width:240px;'>
    <%= form.fields_for :variants, variant do |ff|%>
    <%#= form.fields_for :variants, Variant.new(:product_id => @product.id), :child_index => "new_variants" do |ff| %>
      <table class='span-6 ar-sidebar' style='width:240px;'>
        <thead>
          <tr>
            <th colspan=2> <%= variant.sku %>  </th>
          </tr>
        </thead>
        <tr>
          <td>SKU   </td><td> <%= ff.text_field :sku, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Price </td><td> <%= ff.text_field :price, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Cost  </td><td> <%= ff.text_field :cost, :class => 'span-3' %> </td>
        </tr><tr>
          <td>Brand </td><td> <%= ff.select :brand_id, @brands, { :include_blank => true }, :class => 'span-3' %> </td>
        </tr>
        <tr>
          <td>Inactivate </td><td> <%= ff.check_box :inactivate, :class => 'span-3' %> </td>
        </tr>
          <% @product.properties.each do |property| %>
            <tr style='background:#ACF;text-align:center;'> <th colspan=2> <%= property.display_name %> </th> </tr>
            <% variant_id = variant.id rescue nil %>
            <% variant_property = property.variant_properties.find_or_initialize_by_variant_id(variant_id) if variant_id %>
            <% variant_property ||= VariantProperty.new(:property_id => property.id) %>
              <%= ff.fields_for :variant_properties,
                               variant_property  do |variant_property_form|%>
                <tr>
                  <td>
                    <%#= variant_property_form.select :presentation_id, VariantProperty.presentation_options %>
                    Primary? <%= variant_property_form.check_box  :primary %>
                  </td>
                  <td >
                      <%= variant_property_form.hidden_field  :property_id %>
                      <%= variant_property_form.text_field    :description, :class => 'span-3' %>
                  </td >
                </tr>
              <% end %>
          <% end %>

      </table>
    <% end %>
  </div>
<% end %>