<%= f.error_messages %>
<div class="field large-6 ">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field large-6 ">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
