  <%= f.error_messages %>
<ul>
  <li class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
</ul>
<ul>
  <li class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </li>

</ul>
