
  <% if @shipping_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_method.errors.count, "error") %> prohibited this Shipping Method from being saved:</h2>

      <ul>
      <% @shipping_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :shipping_zone_id %>
    <%= f.select :shipping_zone_id, @shipping_zones.collect{|sz| [sz.name, sz.id] } %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
