<% if @shipping_method.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shipping_method.errors.count, "error") %> prohibited this Shipping Method from being saved:</h2>

    <ul>
    <% @shipping_method.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<ul class='large-4'>
  <li>
    <label>Name</label>
    <%= f.text_field :name %>
  </li><li>
    <label>Shipping Zone</label>
    <%= f.select :shipping_zone_id, @shipping_zones %>
  </li>
</ul>

<%= f.submit "Create", class: "button" %>
