<div class="admin_title_header">
  <h3>Shipping Methods</h3>
  <%= link_to "New Shipping Method", new_admin_config_shipping_method_path, :class => 'button' %>
</div>

<div class="admin_shipping_methods">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
      <th>Zone</th>
      <th></th>
    </tr>
    </thead>

  <% @shipping_methods.each do |shipping_method| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= shipping_method.name %> </td>
      <td><%= shipping_method.shipping_zone.name %> </td>
      <td><%= link_to "Edit", edit_admin_config_shipping_method_path(shipping_method) %></td>
    </tr>
  <% end %>
  </table>
</div>
