<%= render partial: '/admin/merchandise/wizards/sub_header' %>

<div class="page-header">
  <h1 class="page-title"><%= @brands.empty? ? 'New Brand' : 'Pick a Brand' %></h1>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex flex-wrap gap-3">
      <% @brands.each do |brand| %>
        <div class="card <%= 'selected' if selected?(brand.id) %>" style="min-width: 150px;">
          <div class="card-body">
            <label class="form-label"><%= brand.name %></label>
            <%= button_to 'Use', admin_merchandise_wizards_brand_path(brand), class: "btn btn-outline btn-sm", method: :put %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr/>

<% unless @brands.empty? %>
  <div class="page-header">
    <h2 class="page-title">Create a New Brand</h2>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <%= form_for @brand, url: admin_merchandise_wizards_brands_path do |brand_form| %>
      <%= render partial: 'form', locals: { f: brand_form } %>
    <% end %>
  </div>
</div>
