
<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @brands.empty? %>
  <h2>New Brand</h2>
<% else %>
  <h2>Pick a Brand</h2>
<% end %>

<div id='shopping_addresses_selections' class='span-18 last'>
  <% @brands.each do |brand| %>
    <div class='span-8  box <%= cycle( '', 'last') %> <%= 'selected' if selected?(brand.id) %> '>
      <label><%= brand.name %></label><br/>
      <%= button_to 'Use', admin_merchandise_wizards_brand_path(brand), :class => "button spade inline-block", :method => :put %>
    </div>

  <% end %>

</div>
<hr style='color:#aac'/>
<br />
<% unless  @brands.empty? %>
  <h2>Create a New Brand</h2>
<% end %>
<%= simple_form_for @brand, :url => admin_merchandise_wizards_brands_path do |brand_form| %>
  <%= render :partial =>  'form', :locals => {:f => brand_form}  %>
<% end %>
