<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @brands.empty? %>
  <h3>New Brand</h3>
<% else %>
  <h3>Pick a Brand</h3>
<% end %>

<div id='shopping_addresses_selections' class='clearfix'>
  <% @brands.each do |brand| %>
    <div class='six large-6 column box <%= cycle( '', 'last') %> <%= 'selected' if selected?(brand.id) %> '>
      <label><%= brand.name %></label><br/>
      <%= button_to 'Use', admin_merchandise_wizards_brand_path(brand), class: "button secondary inline-block", method: :put %>
    </div>
  <% end %>
</div>

<hr/>

<% unless  @brands.empty? %>
  <h3>Create a New Brand</h3>
<% end %>
<%= form_for @brand, url: admin_merchandise_wizards_brands_path do |brand_form| %>
  <%= render partial: 'form', locals: { f: brand_form }  %>
<% end %>
