<h1> Invoices </h1>

<table>
  <tr>
    <th>Amount</th>
    <th>State</th>
    <th>Order</th>
    <th>Type</th>
  </tr>
  <% for invoice in @invoices %>
    <tr>
      <td><%= invoice.amount %></td>
      <td><%= invoice.state %></td>
      <td><%= invoice.order.number %></td>
      <td><%= invoice.invoice_type %></td>
      <td><%= link_to "Show", admin_document_invoice_path(invoice) %></td>
      <td>
        <% if invoice.authorized? %>
          <%= link_to "Cancel", admin_document_invoice_path(invoice), :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%#= link_to "New Invoice", new_admin_document_invoice_path, :class => 'button' %></p>
