<h3>Invoices</h3>

<table>
  <thead>
  <tr class='odd'>
    <th class='column1_header'>Amount</th>
    <th>State</th>
    <th>Order</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% for invoice in @invoices %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= invoice.amount %></td>
      <td><%= invoice.state %></td>
      <td><%= invoice.order.number %></td>
      <td><%= invoice.invoice_type %></td>
      <td><%= link_to "Show", admin_document_invoice_path(invoice) %></td>
      <td>
        <% if invoice.authorized? %>
          <%= link_to "Cancel", admin_document_invoice_path(invoice), :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @invoices %>