<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <label>Name</label>
  <%= f.text_field :name %>

  <label>Account Type</label>
  <%= f.text_field :account_type %>

  <label>Monthly Charge</label>
  <%= f.text_field :monthly_charge %>

  <label>Active</label>
  <%= f.check_box :active %>
</fieldset>