<%= render :partial => '/admin/config/sub_header'%>
<h1>Editing account</h1>


<%= simple_form_for( @account, :url => admin_config_account_path(@account)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', admin_config_account_path(@account), :class => 'button' %> |
<%= link_to 'Back', admin_config_accounts_path, :class => 'button' %>
