<%= render :partial => '/admin/config/sub_header'%>
<h1>Editing account</h1>


<%= semantic_form_for( @account, :as => :account, :url => admin_config_account_path(@account)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
