<div class="admin_title_header">
  <h3>Listing Accounts</h3>
  <%= link_to 'New Account', new_admin_config_account_path, class: 'button' %>
</div>

<p>
  Accounts aren't really used in the app but in theory this is where you could assign each user monthly subscription charges.  If built out, this model could be associated to many variants through a account_variants table, or simply a charge for access to your cool site.
</p>

<div class="admin_accounts">
  <table class='hover'>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Account type</th>
      <th>Monthly charge</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

  <% @accounts.each do |account| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= link_to account.account_type, edit_admin_config_account_path(account) %></td>
      <td><%= account.monthly_charge %></td>
      <td><%= account.active %></td>
      <td><%= link_to "Delete", admin_config_account_path(account), data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
