<%= render :partial => '/admin/config/sub_header'%>
<p id="notice"><%= notice %></p>

<p>
  <b>Account type:</b>
  <%= @account.account_type %>
</p>

<p>
  <b>Monthly charge:</b>
  <%= @account.monthly_charge %>
</p>

<p>
  <b>Active:</b>
  <%= @account.active %>
</p>


<%= link_to 'Edit', edit_admin_config_account_path(@account) %> |
<%= link_to 'Back', admin_config_accounts_path %>
