<div class='panel callout clearfix shipping_methods_admin_panel'>
    <div class='seven large-7 columns'>
      <%= image_tag(items.first.variant.product.featured_image(:mini)) %>
      <%= items.first.variant.product.name %> Quantity: <%= items.size %>
    </div>
    <div class='five large-5 columns' style='text-align:left;'>
      <% items.first.variant.variant_properties.each do |vp| %>
        <label><%= vp.property.display_name %></label> <%= vp.description %><br/>
      <% end %>
    </div>
</div>
