<h3>Shipping Method</h3>
  <% i = 1 %>
  <% session_admin_order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
    <div id='order-item-<%= i %>'>
      <%= render partial: 'order_item', locals: { items: items } %>
    </div>
    <% i += 1 %>
  <% end %>


<h3>Credit Card Info<h3>
  <%= form_tag( admin_shopping_checkout_order_path(),
                                :method => :put,
                                :id   => 'purchase_admin_order') do  %>

    <div class="field column">
      <%= label_tag  :name %>
    </div>
  <div class='clearfix'></div>
    <div class="field column">
      <%= label_tag 'First' %>
       <%= text_field_tag(:first_name, @credit_card.first_name ,:class => '') %>
    </div>

    <div class="field column">
      <%= label_tag :last_name, 'Last' %>
       <%= text_field_tag(:last_name, @credit_card.last_name,:class => '') %>
    </div>

  <div class='clearfix'></div>
    <div class="five large-5 columns">
      <%= label_tag 'Number'%>
       <%= text_field_tag(:number, @credit_card.number ,:class => ' disableAutoComplete', :autocomplete => "off") %>
    </div>

    <div class="five large-5 columns">
      <%= label_tag :verification_value, 'VCC'%>
       <%= text_field_tag(:verification_value, @credit_card.verification_value ,:class => 'four disableAutoComplete', :autocomplete => "off") %>
    </div>

  <div class='clearfix'></div>
    <div class="field column float-left <%= 'form-field error' if @credit_card.errors['brand'].present? %>">
      <%= label_tag :brand, 'Type'%>
       <%= select_tag(:brand, options_for_select(['visa', 'mastercard']), :class => " #{'form-field error' if @credit_card.errors['brand'].present?}" ) %>
    </div>

    <div class="field column float-left <%= 'form-field error' if @credit_card.errors['month'].present? %>">
      <%= label_tag :month, 'Month', :class => " #{'form-field error' if @credit_card.errors['month'].present?}" %>
      <%= select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])) %>
    </div>

    <div class="field column float-left <%= 'form-field error' if @credit_card.errors['year'].present? %>">
      <%= label_tag :year, 'Year', :class => " #{'form-field error' if @credit_card.errors['year'].present?}" %>
       <%= select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10))), :class => " #{'form-field error' if @credit_card.errors['year'].present?}") %>
    </div>
  <div class='clear'></div>


    <%= submit_tag 'Complete Order', :class => 'button ' %>
  <% end %>






<% content_for :right_side_bar do -%>

  <div class='twelve large-12 panel' >
    <h5>Shipping Address</h5>
    <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => session_admin_order.ship_address} %>
    <%= link_to 'Change', admin_shopping_checkout_shipping_addresses_path %>
  </div>
  <div class='twelve large-12 panel'>
    <h5>Billing Address</h5>
    <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => session_admin_order.bill_address} %>
    <%= link_to 'Change', admin_shopping_checkout_billing_addresses_path %>
  </div>
  <div class='clear' style='margin-bottom:8px;'></div>
  <%#= link_to 'Complete Order', admin_shopping_checkout_carts_path(), :class => 'button light' %>
<% end %>
