<% content_for :sidebar_panel do -%>
  <%= render partial: '/admin/shopping/right_panel_summary' %>
  <div class='card mb-3'>
    <div class='card-header'>
      <h5 class="card-title">Shipping Address</h5>
    </div>
    <div class='card-body'>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => session_admin_order.ship_address} %>
      <%= link_to 'Change', admin_shopping_checkout_shipping_addresses_path, class: 'btn btn-outline btn-sm mt-2' %>
    </div>
  </div>
  <div class='card mb-3'>
    <div class='card-header'>
      <h5 class="card-title">Billing Address</h5>
    </div>
    <div class='card-body'>
      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => session_admin_order.bill_address} %>
      <%= link_to 'Change', admin_shopping_checkout_billing_addresses_path, class: 'btn btn-outline btn-sm mt-2' %>
    </div>
  </div>
<% end %>

<div class="page-header">
  <div>
    <h1 class="page-title">Order Summary</h1>
  </div>
  <div class="page-actions">
    <%= link_to "Back to #{truncate(session_admin_cart.customer&.name || 'Customer', length: 35)}'s Cart", admin_shopping_products_path, class: 'btn btn-outline btn-sm' %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <% i = 1 %>
    <% session_admin_order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
      <div id='order-item-<%= i %>'>
        <%= render partial: 'order_item', locals: { items: items } %>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Credit Card Info</h3>
  </div>
  <div class="card-body">
    <%= form_tag( admin_shopping_checkout_order_path(),
                                  :method => :put,
                                  :id   => 'purchase_admin_order') do  %>

      <div class="form-group">
        <%= label_tag :name %>
      </div>
      <div class="d-flex flex-wrap gap-3">
        <div class="form-group">
          <%= label_tag 'First' %>
          <%= text_field_tag(:first_name, @credit_card.first_name ,:class => '') %>
        </div>

        <div class="form-group">
          <%= label_tag :last_name, 'Last' %>
          <%= text_field_tag(:last_name, @credit_card.last_name,:class => '') %>
        </div>
      </div>

      <div class="d-flex flex-wrap gap-3">
        <div class="form-group">
          <%= label_tag 'Number'%>
          <%= text_field_tag(:number, @credit_card.number ,:class => ' disableAutoComplete', :autocomplete => "off") %>
        </div>

        <div class="form-group">
          <%= label_tag :verification_value, 'VCC'%>
          <%= text_field_tag(:verification_value, @credit_card.verification_value ,:class => 'four disableAutoComplete', :autocomplete => "off") %>
        </div>
      </div>

      <div class="d-flex flex-wrap gap-3">
        <div class="form-group <%= 'form-field error' if @credit_card.errors['brand'].present? %>">
          <%= label_tag :type, 'Type'%>
          <%= select_tag(:type, options_for_select(['visa', 'mastercard']), :class => " #{'form-field error' if @credit_card.errors['brand'].present?}" ) %>
        </div>

        <div class="form-group <%= 'form-field error' if @credit_card.errors['month'].present? %>">
          <%= label_tag :month, 'Month', :class => " #{'form-field error' if @credit_card.errors['month'].present?}" %>
          <%= select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])) %>
        </div>

        <div class="form-group <%= 'form-field error' if @credit_card.errors['year'].present? %>">
          <%= label_tag :year, 'Year', :class => " #{'form-field error' if @credit_card.errors['year'].present?}" %>
          <%= select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10))), :class => " #{'form-field error' if @credit_card.errors['year'].present?}") %>
        </div>
      </div>

      <%= submit_tag 'Complete Order', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
