<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Edit Variant (<%= @product.name %>)</h1>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @variant, url: admin_merchandise_product_variant_path(@product, @variant), html: { class: '' } do |form| %>
      <%= render partial: '/admin/merchandise/variants/form', locals: { form: form } %>
      <div class="form-group">
        <%= submit_tag "Update", class: "btn btn-primary", id: "create_variant_button" %>
      </div>
    <% end %>
  </div>
</div>
