<%= render partial: '/admin/merchandise/sub_header' %>

<% content_for :sidebar_panel do %>
  <div class="admin_filters">
    <%= form_tag admin_merchandise_product_variants_path(@product), method: 'get', id: "variants_search" do %>
      <div class="form-group">
        <label class="form-label">SKU</label>
        <%= text_field_tag :sku, params[:sku], class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <h1 class="page-title"><%= @product.name %> Variants</h1>
  <div class="page-actions">
    <%= link_to "New Variant", new_admin_merchandise_product_variant_path(@product), class: "btn btn-primary", id: "new_product_button" %>
    <%= link_to "Back to Product", admin_merchandise_product_path(@product), class: "btn btn-outline" %>
  </div>
</div>

<div class="data-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th>product_name</th>
        <th><%= sortable "sku" %></th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <% @variants.each do |variant| %>
        <tr>
          <td><%= link_to variant.product_name, edit_admin_merchandise_product_variant_path(@product, variant) %></td>
          <td><%= variant.sku %></td>
          <td><%= variant.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @variants %>
