<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">New Variant (<%= @product.name %>)</h1>
  <div class="page-actions">
    <%= link_to "Back to Product", admin_merchandise_product_path(@product), class: 'btn btn-outline btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @variant, url: admin_merchandise_product_variants_path(@product, @variant), html: { class: '' } do |form| %>
      <%= render partial: '/admin/merchandise/variants/form', locals: { form: form } %>
      <div class="form-group">
        <%= submit_tag "Create", class: "btn btn-primary", id: "create_variant_button" %>
      </div>
    <% end %>
  </div>
</div>

<p class="mt-3">
  You can think of a variant as a sub-product. So you might have a polo shirt that has 5 varieties. Each variety is a Variant.
</p>
