<h2>Pick a Shipping Method</h2>


  <%= form_tag(admin_shopping_checkout_shipping_method_path(session_admin_order.id), :method => :put) do -%>
    <% @order_items.group_by(&:ship_category_id).each do |shipping_category_id, items| %>
      <div class='column float-left last'>
          <% items.each do |item| %>
            <div class=' panel callout shipping_methods_admin_panel clearfix'  style='width:535px;'>
                <div class='seven large-7 columns'>
                  <%= image_tag(item.variant.product.featured_image(:mini)) %>
                  <%= item.variant.product.name %> Quantity: <%= item.quantity %>
                </div>
                <div class='five large-5 columns' style='text-align:left;'>
                  <% item.variant.variant_properties.each do |vp| %>
                    <label><%= vp.property.display_name %></label> <%= vp.description %><br/>
                  <% end %>
                </div>
            </div>
          <% end %>
          <ul>
          <% items.first.shipping_rate_options(session_admin_order.sub_total).each do |rate| %>
            <li><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %> <%= rate.name_rate_min %></li>
          <% end %>
          </ul>
      </div>
    <% end %>

    <%= submit_tag 'continue', class: 'button'%>
  <% end %>
