  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: 'form-label' %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: 'form-label' %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :address1, class: 'form-label' %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="form-group">
    <%= f.label :address2, class: 'form-label' %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="form-group">
    <%= f.label :city, class: 'form-label' %><br />
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <%= f.label :state_id, class: 'form-label' %><br />
    <%= f.select :state_id, states %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code, class: 'form-label' %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
