<h1><%= @order.user.name %>'s  Addresses</h1>
<p>Select the Address to change the shipment to or Create a new address.</p>
<table class='hover'>
  <tr class='odd'>
    <th class='column1_header'>First name</th>
    <th>Last name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr class='<%= cycle("odd", "")%>'>
    <td><%= address.first_name %></td>
    <td><%= address.last_name %></td>
    <td><%= address.address1 %></td>
    <td><%= address.address2 %></td>
    <td><%= address.city %></td>
    <td><%= address.state_id %></td>
    <td><%= address.zip_code %></td>
    <td>
      <%= button_to 'Select', admin_history_order_address_path(@order, address), method: :put %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_admin_history_order_address_path(@order) %>
