<div class="page-header">
  <div>
    <h1 class="page-title"><%= @order.user.name %>'s Addresses</h1>
    <p class="page-subtitle">Select the Address to change the shipment to or Create a new address.</p>
  </div>
  <div class="page-actions">
    <%= link_to 'New Address', new_admin_history_order_address_path(@order), class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="data-table">
      <table class="admin-table">
        <thead>
          <tr class='odd'>
            <th class='column1_header'>First name</th>
            <th>Last name</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
          <tr class='<%= cycle("odd", "")%>'>
            <td><%= address.first_name %></td>
            <td><%= address.last_name %></td>
            <td><%= address.address1 %></td>
            <td><%= address.address2 %></td>
            <td><%= address.city %></td>
            <td><%= address.state_id %></td>
            <td><%= address.zip_code %></td>
            <td>
              <%= button_to 'Select', admin_history_order_address_path(@order, address), method: :put, class: 'btn btn-primary btn-sm' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
