%p#notice= notice
%p
  %b First name:
  = @address.first_name
%p
  %b Last name:
  = @address.last_name
%p
  %b Address1:
  = @address.address1
%p
  %b Address2:
  = @address.address2
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state_id
%p
  %b Zip code:
  = @address.zip_code
= link_to 'Edit', edit_admin_history_order_address_path(@order, @address)
|
= link_to 'Back', admin_history_order_addresses_path(@order)
