<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <p>
      <b>First name:</b>
      <%= @address.first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%= @address.last_name %>
    </p>

    <p>
      <b>Address1:</b>
      <%= @address.address1 %>
    </p>

    <p>
      <b>Address2:</b>
      <%= @address.address2 %>
    </p>

    <p>
      <b>City:</b>
      <%= @address.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @address.state_id %>
    </p>

    <p>
      <b>Zip code:</b>
      <%= @address.zip_code %>
    </p>

    <div class="d-flex gap-2 mt-3">
      <%= link_to 'Edit', edit_admin_history_order_address_path(@order, @address), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Back', admin_history_order_addresses_path(@order), class: 'btn btn-outline btn-sm' %>
    </div>
  </div>
</div>
