<div id="admin-product-items"
     class='card mb-3 <%= item_form.object.new_record? ? 'new_fields' : 'fields' %>'>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <div class="form-group flex-grow-1">
        <%= item_form.hidden_field :order_item_id %>
        Return Item: <%= order_item.variant.product_name %> <%= number_to_currency order_item.total %><br/>
        Return Condition: <%= item_form.select :return_condition_id, @return_conditions, include_blank: true %><br/>
        Return Reason:    <%= item_form.select :return_reason_id, @return_reasons, include_blank: true %><br/>
      </div>
      <div>
        <%= remove_child_link('remove', item_form) %>
      </div>
    </div>
  </div>
</div>
