
<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>


<h2> Order # <%= @order.number %> </h2>

<div class='pretty_table span-13'>
  <table>
    <tr>
      <td class='left-align'> Number: </td><td> <%= @order.number %> </td>
    </tr>
    <tr>
      <td class='left-align'> Completed at: </td><td> <%= @order.display_completed_at %> </td>
    </tr>
    <tr>
      <td class='left-align'> Shipping Address: </td>
      <td>
        <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} if @order.ship_address_id%>
      </td>
    </tr>
    <tr>
      <td class='left-align'> Billing Address: </td>
      <td>
        <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} if @order.bill_address_id %>
      </td>
    </tr>

    <tr>
      <td COLSPAN=2> Items </td>
    </tr>
    <% @order.order_items.each do |item| %>
      <tr>
        <td class='left-align' COLSPAN=2> <%= item.variant.product_name %> </td>
      </tr>
    <% end %>
  </table>
</div>