<table class="table">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>State</th>
    <th class="last">&nbsp;</th>
  </tr>
  <% @users.each do |r| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= r.id %></td>
      <td><%= r.first_name %></td>
      <td><%= r.last_name %></td>
      <td><%= r.email %></td>
      <td><%= r.state %></td>
      <td class="last">
        <%= link_to t("web-app-theme.edit", :default => "Edit"), edit_admin_user_path(r) %>
      </td>
    </tr>
  <% end %>
</table>
