<div id='registration_name_form'>
   <%= form.inputs  do %>
       <%= form.input :first_name, :required => true %>
       <div class='clearfix'></div>
       <%= form.input :last_name, :required => true %>
       <div class='clearfix'></div>
       <%= form.input :email, :required => true,:wrapper_html => { :class => "span-11 column" }%>
       <div class='clearfix'></div>
       <%= form.input :form_birth_date, :label => "Birthday",
                       :required => false, :as => :yearpicker,
                       :wrapper_html => { :class => "span-11 column" }%>
         <%= form.input :state,
                          :required => true, :as => :select,      :collection => @states,
                          :wrapper_html => { :class => "span-11 column" }%>
   <% end %>
</div>
<div id='registration_form'>
   <%= form.inputs  do %>
       <%= form.input :password, :required => true,:wrapper_html => { :class => "span-11" } %>
       <div class='clearfix'></div>
       <%= form.input :password_confirmation, :required => true,:wrapper_html => { :class => "span-11" } %>
   <% end %>
</div>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Roles</legend>
  <% @all_roles.each do |role| %>
    <%#= form.semantic_fields_for "user[role_ids][]" do |roles_form|%>

      <div class="property_form left span-9 last">
        <% checked = @user.id && @user.roles.include?(role)%>
        <%= check_box_tag "user[role_ids][]", role.id, checked %>
        <%= role.name %>
      </div>
    <%# end %>
  <% end %>

</fieldset>