<div class="form-group">
  <label class="form-label">First Name</label>
  <%= form.text_field :first_name, class: "form-control" %>
</div>

<div class="form-group">
  <label class="form-label">Last Name</label>
  <%= form.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
  <label class="form-label">Email Address</label>
  <%= form.text_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <label class="form-label">State</label>
  <%= form.select :state, @states, {}, class: "form-control" %>
</div>

<% if current_user.super_admin? %>
  <fieldset id="admin-password" class="form-group">
    <p>Leave blank if you don't want to change the password.</p>
    <div class="form-group">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>User Roles</legend>
    <% @all_roles.each do |role| %>
      <div class="form-group flex items-center">
        <% checked = @user.id && @user.roles.include?(role)%>
        <%= check_box_tag "user[role_ids][]", role.id, checked %>
        <span class="ml-2"><%= role.name %></span>
      </div>
    <% end %>
  </fieldset>
<% end %>
