<%= form_for @user,
             :url => @user.new_record? ? admin_users_path : admin_user_path(@user),
             :html => { :class => :form } do |f| -%>
<div class="columns wat-cf">
  <div class="column left">
    <div class="group">
      <%= f.label :first_name, :class => :label %>
      <%= f.error_message_on(:first_name) %>
      <%= f.text_field :first_name, :class => :text_field %>
    </div>

    <div class="group">
      <%= f.label :last_name, :class => :label %>
      <%= f.error_message_on(:last_name) %>
      <%= f.text_field :last_name, :class => :text_field %>
    </div>

    <div class="group">
      <%= f.label :email, :class => :label %>
      <%= f.error_message_on(:email) %>
      <%= f.text_field :email, :class => :text_field %>
    </div>

    <div class="group">
      <%= f.label :birth_date, :class => :label %>
      <%= f.error_message_on(:birth_date) %>
      <%= f.date_select :birth_date %>
    </div>
  </div>

  <div class="column right">
    <div class="group">
      <%= f.label :password, :class => :label %>
      <%= f.error_message_on(:password) %>
      <%= f.password_field :password, :class => :text_field %>
    </div>

    <div class="group">
      <%= f.label :password_confirmation, :class => :label %>
      <%= f.error_message_on(:password_confirmation) %>
      <%= f.password_field :password_confirmation, :class => :text_field %>
    </div>

    <div class="group">
      <%= f.label :roles, :class => :label %>
      <%= f.error_message_on(:roles) %>
      <% @all_roles.each do |role| %>
      <div>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
        <%= f.label role.name, :class => :checkbox %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="group navform wat-cf">
    <%= commit_button %>
    <%= cancel_button(admin_users_path) %>
  </div>
</div>
<% end -%>
