<div id='registration_name_form'>
  <fieldset id="admin-user_info" class='span-12'>
     <ul>
       <li>
         <%= form.label :first_name %>
         <%= form.text_field :first_name %>
        </li>
        <li>
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </li>
        <li>
          <%= form.label :email %>
          <%= form.text_field :email %>
        </li>
        <li>
          <%= form.label :form_birth_date, "Birthday" %>
          <%= form.text_field :form_birth_date, :class => 'ui-yearpicker' %>
        </li>
        <li>
          <%= form.label :state %>
          <%= form.select :state, @states %>
        </li>
     </ul>
  </fieldset>
</div>
<div id='registration_form'>
  <fieldset id="admin-password" class='span-12'>
    <ul>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </li>
    </ul>
  </fieldset>
</div>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Roles</legend>
  <% @all_roles.each do |role| %>
    <%#= form.semantic_fields_for "user[role_ids][]" do |roles_form|%>

      <div class="property_form left span-9 last">
        <% checked = @user.id && @user.roles.include?(role)%>
        <%= check_box_tag "user[role_ids][]", role.id, checked %>
        <%= role.name %>
      </div>
    <%# end %>
  <% end %>

</fieldset>