<div id='registration_name_form'>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :form_birth_date, :as => :string, :input_html => { :class => 'ui-yearpicker' } %>
  <%= f.input :state, :label => 'State', :collection => @states %>
</div>
<div id='registration_form'>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
</div>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Roles</legend>
  <div class="property_form left span-9 last">
    <%= f.collection_check_boxes :role_ids, @all_roles, :id, :name %>
  </div>
</fieldset>
