<fieldset>
  <legend>New User</legend>

  <div class="row">
    <div class="six large-6 columns">
      <label>First Name</label>
      <%= form.text_field :first_name %>

      <label>Email Address</label>
      <%= form.text_field :email %>

    </div>

    <div class="six large-6 columns">
      <label>Last Name</label>
      <%= form.text_field :last_name %>

      <label>State</label>
      <%= form.select :state, @states %>
    </div>
  </div>
</fieldset>

<% if current_user.super_admin? %>
  <fieldset id="admin-password">
    <p>Leave blank if you don't want to change the password.</p>
    <ul>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>User Roles</legend>
    <% @all_roles.each do |role| %>
      <div class="property_form left span-9 last">
        <% checked = @user.id && @user.roles.include?(role)%>
        <%= check_box_tag "user[role_ids][]", role.id, checked %>
        <%= role.name %>
      </div>
    <% end %>
  </fieldset>
<% end %>
