<% content_for :head do -%>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.12.custom' %>
<% end %>
<% content_for :bottom do -%>
  <%= javascript_include_tag 'jquery.datePicker-2.1.2', 'datePickerInitialize' %>
<% end %>

<h3>Edit <%= @user.name %> </h3>

<%= form_for @user, :url => admin_user_path(@user)  do |form| %>
  <%= render :partial => '/admin/users/form', :locals => {:form => form} %>
  <%= form.submit "Update", :class => 'button' %>
<% end %>