%h3 Users
- content_for :sidemenu do
  %div{:style => "text-align:right"}
    = link_to "New User", new_admin_user_path, :class => "button", :id => "new_user_button"
  .admin_filters
    = form_tag admin_users_path, :method => 'get', :id => "users_search" do
      %label First Name
      = text_field_tag :first_name, params[:first_name]
      %label Last Name
      = text_field_tag :last_name, params[:last_name]
      %label Email
      = text_field_tag :email, params[:email]
      %div{:style => "text-align:center"}
        = submit_tag "Search", :name => nil, :class => "button"
      #users
        = render 'users'
.admin_users
  %table
    %thead
      %tr.odd
        %th.column1_header= sortable "first_name"
        %th= sortable "last_name"
        %th= sortable "email"
        %th Status
    - @users.each do |user|
      %tr{:class => cycle("odd", "")}
        %td= link_to user.first_name, admin_user_path(user)
        %td= user.last_name
        %td= user.email
        %td= user.state
  = will_paginate @users
