<%= render partial: '/admin/merchandise/wizards/sub_header'%>
<% if  @shipping_categories.empty? %>
  <h3>New Shipping Category</h3>
<% else %>
  <h3>Pick a Shipping Category</h3>
<% end %>

<div class='clearfix'>
<% @shipping_categories.each do |shipping_category| %>
  <div class='four large-4 column box <%= cycle( '', 'last') %> <%= selected?(shipping_category.id)  %>'>
    <label><%= shipping_category.name %></label><br/>
    <%= button_to 'Use', admin_merchandise_wizards_shipping_category_path(shipping_category),
                   class: "button secondary inline-block",
                   method: :put %>
  </div>
<% end %>
</div>

<%= form_for @shipping_category, url: admin_merchandise_wizards_shipping_categories_path do |shipping_category_form| %>
  <%= render partial: 'form', locals: { f: shipping_category_form }  %>
<% end %>
