- if @shopping_address.errors.any?
  #error_explanation
    %h2
      = pluralize(@shopping_address.errors.count, "error")
      prohibited this shipping address from being saved:
    %ul
      - @shopping_address.errors.full_messages.each do |msg|
        %li= msg
.main-address
  .inline.twelve
    .field.six.columns
      = f.label :first_name
      = f.text_field :first_name, :class => ''
    .field.six.columns
      = f.label :last_name
      = f.text_field :last_name, :class => ''
  .twelve
    .field
      = f.fields_for :phones do |phone_f|
        .six.columns
          = phone_f.label :display_number, 'Primary Phone'
          = phone_f.text_field :display_number
        .six.columns
          = phone_f.label :phone_type_id, 'Type'
          = phone_f.select :phone_type_id, phone_types
  .clear
  .twelve.columns
    .field
      = f.label :address1
      = f.text_field :address1
      = f.label :address2
      = f.text_field :address2
  .clearfix
  .twelve
    .field.five.columns
      = f.label :city
      = f.text_field :city
    - if nil
      .field.four
        = f.label :state_name
        = f.text_field :state_name
    - if Settings.require_state_in_address
      .field.four.columns
        = f.label    :state_id, "State"
        = f.select   :state_id, @states,               |
          {:include_blank => true, :prompt => "STATE"} |
    - elsif countries.size == 1
      .field.column
        = f.label :country_id, "Country"
        = countries.first.name
        = f.hidden_field   :country_id
    - else
      .field.column
        = f.label    :country_id, "Country"
        = f.select   :country_id, select_countries,             |
          {:include_blank => true}, {:style => 'display:none;'} |
        .custom.dropdown
          %a.current= f.object.country.try(:name) || 'SELECT YOUR COUNTRY'
          %a.selector{:href => "#"}
          %ul.no-bullet
            - select_countries.each do |c|
              %li{:class => "#{c.last == f.object.country_id ? 'selected' : ''}", :value => f.object.country_id}= c.first
    .field.three.columns
      = f.label :zip_code
      = f.text_field :zip_code
.field.twelve.column{:style => "margin-bottom:10px;"}
  %label.ten{:for => "address_billing_default", :style => "margin-top:3px;display: inline-block;"}
    = f.check_box :billing_default, :class => 'columns'
    = "Make this my default Billing Address"
.actions.column
  = f.submit 'Save & Continue', :class => 'button  bottom20'
  - unless current_page?(shopping_billing_addresses_path)
    = link_to 'Back', shopping_billing_addresses_path, :class => 'secondary button'
.clearfix
