<li class="active"><%=  link_to site_name, :root %></li>

<li><%= link_to 'History', admin_history_orders_path, :id => 'admin_history_button' %></li>
<li><%= link_to 'Orders', admin_shopping_carts_path, :id => 'admin_orders_button' %></li>
<li><%= link_to 'Merchandise', admin_merchandise_path, :id => 'merchandise_button' %></li>
<li><%= link_to "Inventory", admin_inventory_overviews_path, :id => "admin_inventory_button" %></li>
<li><%= link_to "Users", admin_users_path, :id => "admin_users_button" %></li>
<li><%= link_to "Config", admin_config_overviews_path, :id => "admin_config_accounts_path" %></li>
<li><%= link_to "Manage", admin_generic_coupons_path, :id => "admin_manage_button" %></li>
<li><%= link_to "Fulfillment", admin_fulfillment_orders_path, :id => "admin_fulfillment_button" %></li>