<%= render :partial => '/admin/merchandise/wizards/sub_header'%>
<% if  @product_types.empty? %>
  <h3>New Product Type</h3>
<% else %>
  <h3>Pick a Product Type</h3>
<% end %>

<div id='shopping_addresses_selections' class='clearfix'>
  <% @product_types.each do |product_type| %>
    <div class='six large-6 column box <%= cycle( '', 'last') %> <%= 'selected' if selected?(product_type.id) %> '>
      <label><%= product_type.name %></label><br/>
      <%= button_to 'Use', admin_merchandise_wizards_product_type_path(product_type),
                    class: "button secondary inline-block  ",
                    method: :put %>
    </div>
  <% end %>
</div>

<%= form_for @product_type, url: admin_merchandise_wizards_product_types_path do |product_type_form| %>
  <%= render partial: 'form', locals: { form: product_type_form } %>
<% end %>
