
<% content_for :head do -%>
  <%= stylesheet_link_tag 'products_page.css' %>
<% end %>

<div id='featured_item' class='nine columns'>

  <div id='interesting_items' >
    <ul id='interesting_items-list'>
      <% @products.each_with_index do |product, i| %>
        <li id='interesting_product_<%= i %>' class=''>
          <div class='interesting_items-image'>

            <%= link_to product_path(product), title: product.name do %>

              <div class='no-hover-show'>
                <% if product.hero_variant.try(:low_stock?) %>
                  <%= image_tag("ribbons/#{product.stock_status}.png",
                                 width: 63, height: 62,
                                 class: 'upper_left_overlay' ) %>
                <% end %>
                <div class='hover-details unfade'>
                  <p class='bottom-hover-details'>
                    <%= number_to_currency product.price_range.first %>
                    <% if product.price_range? %>
                        to
                        <%= number_to_currency product.price_range.last %>
                    <% end %>
                  </p>
                </div>
              </div>
              <%= link_to image_tag(product.featured_image(:medium)), product_path(product), title: product.name, class:  'clearfix' %>
            <% end %>
          </div>

          <div class='interesting_items-details'><%= product.name %><br/>

          </div>
        </li>
      <% end %>
    </ul>
    <div class='clearfix'></div>
  </div>
  <%= will_paginate @products %>

</div>

<div id='right_side_panel' class='three columns last'>
  <div id='right_side_panel_promo' class=''>
    Join our web site and get additional Savings....  <%= image_tag "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'%>
  </div>
</div>
