
<% content_for :head do -%>
  <%= stylesheet_link_tag 'product_page.css' %>
  <%= stylesheet_link_tag 'pikachoose_product.css' %>
<% end %>

<div id='product' class='clearfix'>

  <div class=' float-left last'>
    <% if @product.active_variants.empty? %>
      <div id='no-variant-available' class=' four  last'>
        Sorry this product is not currently available.
      </div>
    <% else %>


      <div id='left_product_wrapper' class='columns five'>
         <!-- <ul class='horizontal-list'>
            <li><%= link_to 'Share', '#share-product', :class => 'button small share' %></li>
          </ul> -->
          <% if @product.hero_variant.low_stock? %>
            <%= image_tag("ribbons/#{@product.hero_variant.stock_status}.png",
                          :width => 63, :height => 62,
                          :style => 'border:none;',
                          :class => 'upper_left_overlay'
                           ) %>
          <% end %>
          <ul id="pikame" class="jcarousel-skin-pika">
            <% @product.images.each do |image|%>
              <li>
                <a><%= image_tag(image.photo.url(:large)) %></a>
              </li>
            <% end %>
            <% if @product.images.empty? %>
              <li>
                <a><%= image_tag(@product.featured_image(:large)) %></a>
              </li>
            <% end %>
          </ul>

      </div>
      <div id='right_2_product_wrapper' class='six columns last'>
          <div id='right_product_wrapper' class=''>
            <div class='product_title_name'><%= @product.name %></div>
            <% if @product.active_variants.count > 0 %>
              <div class='product_content'>
                <div class='product_content_price'>
                  <%= number_to_currency @product.active_variants.first.price %>
                </div>
                <div class='product_content_description'>
                  <%= raw @product.description %>
                </div>

              </div>
              <div id='your_product' class='panel'>
                <% @product.active_variants.each_with_index do |variant, i| %>
                  <div id='variant_<%= variant.id %>'
                       class='button variant_select secondary <%= 'selected_variant' if i == 0 %>'
                       data-variant_id='<%= variant.id %>'>
                    <%#= raw variant.primary_property.try(:property_name)  %> <%= raw variant.product_name %>
                  </div>
                <% end %>
                  <div  class='properties_inner_wrapper clearfix' >
                    <% @product.active_variants.each_with_index do |var, i| %>
                      <div id='variant_properties_<%= var.id %>' class='variant_properties <%= 'selected' if i == 0 %>'>
                        <ul>
                          <% var.variant_properties.each do |prop| %>
                            <li><label><%= prop.property_name %>:</label>  <%= prop.description %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <hr/>
                    <%= form_for  @cart_item,
                                  :url  => shopping_cart_items_path(@cart_item),
                                  :html => { :id => 'new_cart_item' } do |f| %>
                        <%= f.hidden_field :variant_id %>
                        Quantity:
                        <%= f.select :quantity, [1,2,3,4,5,6], {:include_blank => true}, {:class => 'one'} %>
                        <div class='add_to_cart_wrapper '>
                          <% unless @product.active_variants.empty? %>
                            <%= link_to 'Add to Cart', '#', :id => 'submit_add_to_cart', :class => 'button' %>
                          <% end %>
                        </div>
                    <% end %>
                  </div>
              </div>
              <div id='product_your_properties'>
                &nbsp;
                <%= render :partial => 'properties' %>
              </div>
            <% end %>
            </div>
          </div>
      </div>

    <% end %>
  </div>
<div class='clearfix' style='height:50px;'>&nbsp</div>
</div>
<div id='generic-dialog'></div>

<% content_for :below_body do -%>
  <%= javascript_include_tag 'shopping/cart.js' %>
  <%= javascript_include_tag 'jquery.jcarousel.js' %>
  <%= javascript_include_tag 'jquery.pikachoose.full.js' %>

  <script>
    $(document).ready(function (){
        $("#pikame").PikaChoose({autoPlay:true, carousel:false, carouselVertical:false});
        $('#pikame').data('pikachoose').Pause();
    });
  </script>
<% end %>
