- content_for :head do
  = javascript_include_tag 'admin/merchandise_product'
- content_for :below_body do
  :javascript
    Hadean.AdminMerchandiseProductForm.initialize("#{@product.id}");
= error_messages_for 'product'
%fieldset#admin-product-general-info.four.column{:style => "margin-right:25px"}
  %legend General Info
  .clear
  .span-3
    = form.label :name
  .span-6.last
    = form.text_field :name
  .clear
  .span-3
    = form.label :permalink
  .span-6.last
    = form.text_field :permalink
  .clear
  .span-3
    = form.label :set_keywords, 'Search keywords'
    %br/
    (separate with a comma)
  .span-6.last
    = form.text_field :set_keywords
  .clear
  .span-3
    = form.label :meta_keywords
  .span-6.last
    = form.text_field :meta_keywords
  .clear
  .span-3
    = form.label :meta_description
  .span-6.last
    = form.text_field :meta_description
  .clear
  .span-3
    = form.label :product_type
  .span-6.last
    = form.select :product_type_id,                                                         |
      nested_set_options(ProductType, ProductType.new) {|i| "#{'-' * i.level} #{i.name}" }, |
      { :include_blank => true }                                                            |
  .clear
  .span-3
    = form.label :shipping_category
  .span-6.last
    = form.select :shipping_category_id, @select_shipping_category
  .clear
  .span-3
    = form.label :brand
  .span-6.last
    = form.select :brand_id, @brands
%fieldset#admin-product-properties.seven.large-7.column.last
  %legend Properties
  #select-product-prototype
    - select_prototypes = [] << Prototype.new
    Prototype: #{form.select :prototype_id, @prototypes, { :include_blank => true },{'data-product_id' => @product.id}}
  #product_properties
    - @all_properties.each do |property|
      <div  id='property_#{property.id}'
      class="property_form "
      = "style=display:none;" if @product.id && !@product.properties.detect {|p| p.id == property.id}
      = form.fields_for :product_properties, property.product_properties.find_or_initialize_by(product_id: @product.id) do |product_property_form|
        .six
          = property.identifing_name
          \:
          
          = product_property_form.hidden_field  :property_id
          = product_property_form.text_field    :description
          %br/
