<%= render partial: '/admin/merchandise/sub_header' %>

<div class="page-header">
  <h1 class="page-title">Edit Product</h1>
  <div class="page-actions">
    <%= link_to 'Add Image', edit_admin_merchandise_images_product_path(@product), class: 'btn btn-outline' %>
    <%= link_to 'Variants', admin_merchandise_product_variants_path(@product), class: 'btn btn-outline' %>
    <%= link_to 'Back to Product', admin_merchandise_product_path(@product), class: 'btn btn-outline' %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= form_for @product, url: admin_merchandise_product_path(@product), html: { class: '' } do |form| %>
      <%= render partial: 'form', locals: { form: form } %>
      <div class="form-group">
        <%= submit_tag "Update", class: "btn btn-primary", id: "create_product_button" %>
      </div>
    <% end %>
  </div>
</div>
