<%= render partial: '/admin/merchandise/sub_header'%>

<h2>Edit Product</h2>

<%= link_to 'Add Image', edit_admin_merchandise_images_product_path(@product), :class => 'button light secondary' %>
<%= link_to 'Variants', admin_merchandise_product_variants_path(@product), :class => 'button light secondary' %>
<%= link_to 'Back to Product',     admin_merchandise_product_path(@product), :class => 'button' %>
<%# content_for :sidebar do %>
  <div id="article-sidebar" class="sidebar">
    <%= form_for @product, :url  => admin_merchandise_product_path(@product),
                            :html => {:class => ''}  do |form| %>

      <%= render :partial => 'form', :locals => {:form => form } %>

      <div class=" generic_submit_button">
        <%= submit_tag "Update",
                        :class  => "button",
                        :id     => "create_product_button" %>
      </div>
    <% end %>
  </div>
<%# end %>
