<% content_for :head do -%>
  <%= javascript_include_tag "admin/index_grid" %>
<% end %>
<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Products </h2>

<div id="admin_products_page_wrapper">

  <table>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
    <% for product in @products %>
      <tr>
        <td><%= link_to product.name, admin_merchandise_product_path(product) %></td>
        <td><%= product.available? ? 'Yes' : 'No' %></td>
        <td><%= link_to "Edit",           edit_admin_merchandise_product_path(product) %></td>
        <td><%= link_to "Edit Variants",  edit_variants_admin_merchandise_product_path(product) %></td>
      </tr>
    <% end %>
  </table>
  <div id="admin_new_product_button" class="admin_new_button last">
    <%= link_to "New Product", new_admin_merchandise_product_path, :class => "button", :id => "new_product_button" %>
  </div>
</div>

  <%= will_paginate @products %>
<%#= jqgrid_stylesheets %>
<%#= jqgrid_javascripts %>


<script>
  //Hadean.AdminIndexForm.registerOnLoadHandler(Hadean.AdminIndexForm.initialize('/admin/merchandise/products'));
</script>