<%= render partial: '/admin/merchandise/sub_header' %>

<% content_for :sidebar_panel do %>
  <div class="admin_filters">
    <%= form_tag admin_merchandise_products_path, method: 'get', id: "products_search" do %>
      <div class="form-group">
        <label class="form-label">Name</label>
        <%= text_field_tag :name, params[:name], class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">Product Type</label>
        <%= select_tag "product_type_id", options_from_collection_for_select(product_types, "id", "name"), include_blank: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
      <div id="order_hidden">
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <h1 class="page-title">Products</h1>
  <div class="page-actions">
    <%= link_to "New Product", new_admin_merchandise_product_path, class: "btn btn-primary", id: "new_product_button" %>
    <%= link_to "New Product Wizard", admin_merchandise_wizards_brands_path, class: "btn btn-outline", id: "new_product_wizard_button" %>
  </div>
</div>

<div class="data-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th>Active</th>
        <th>Product Type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, edit_admin_merchandise_product_path(product) %></td>
          <td><%= product.available? ? 'Yes' : 'No' %></td>
          <td><%= product.product_type.name %></td>
          <td><%= link_to "Edit Variants", edit_admin_merchandise_multi_product_variant_path(product) %></td>
          <td><%= link_to "Show", admin_merchandise_product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @products %>
