<%= render :partial => '/admin/merchandise/sub_header'%>

<h2> Product: <%= @product.name %></h2>
<fieldset id="admin-product-names" class='span-12' style='text-align:left;'>
  <div class='span-3'>
    <%= label :product, :name %>
  </div>
  <div class='span-6 last'>
    <%= @product.name %>
    <% if @product.description? %>
      <span style='color:<%= @product.active ? "#3A3" : "#C33" %>;'>
          <% if @product.active %>
            <%= link_to 'Active', admin_merchandise_product_path(@product),
                                  :method => :delete,
                                  :confirm => "This will inactivate the product,  Are you sure?",
                                  :class => 'button green-button' %>
          <% else %>
            <%= link_to 'Not Active', activate_admin_merchandise_product_path(@product),
                                      :method => 'PUT',
                                      :confirm => "This will activate the product,  Are you sure?",
                                      :class => 'button red-button' %>
          <% end %>

      </span>
    <% end %>
  </div>
  <div class='clear'></div>
  <div class='span-3'>
    <%= label :product, :description %>
  </div>
  <div class='span-6 last'>
    <%= @product.description %>
    <% unless @product.description? %>
      <%= link_to 'Add Description', edit_admin_merchandise_products_description_path(@product),
                                :class => 'button red-button' %>
    <% end %>
  </div>

  <div class='clear'></div>
  <div class='span-3'>
    <%= label :product, :meta_keywords %>
  </div>
  <div class='span-6 last'>
    <%= @product.meta_keywords %>
  </div>
  <div class='clear'></div>
  <div class='span-3'>
    <%= label :product, :meta_description %>
  </div>
  <div class='span-6 last'>
    <%= @product.meta_description %>
  </div>

  <div class='clear'></div>
  <div class='span-3'>
    <%= label :product, :product_type %>
  </div>
  <div class='span-6 last'>
    <%= @product.product_type.name %>
  </div>

  <div class='clear'></div>
  <div class='span-3'>
    <%= label :product, :shipping_category %>
  </div>
  <div class='span-6 last'>
    <%= @product.shipping_category.name %>
  </div>
</fieldset>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Properties</legend>
  <% @product.product_properties.each do |product_prop|  %>
    <%= product_prop.property.identifing_name %>: <%= product_prop.description %>
  <% end %>
</fieldset>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Variants</legend>
  <%= link_to 'Edit Variants', edit_variants_admin_merchandise_product_path(@product) %>
  <table>
      <tr>
        <th>SKU   </th>
        <th>Price </th>
        <th>Cost  </th>
        <th>Brand </th>
        <% @product.properties.each do |property| %>
          <th><%= property.display_name %>  </th>
        <% end %>
      </tr>
    </thead>
    <% @product.variants.each do |variant|  %>
      <tr>
        <td> <%= variant.sku %> </td>
        <td> <%= variant.price %> </td>
        <td> <%= variant.cost %> </td>
        <td> <%= variant.brand.try(:name) %> </td>
        <% @product.properties.each do |property| %>
            <% variant_property = property.variant_properties.find_by_variant_id(variant.id) %>
            <td style='<%= "color:#4A4;" if variant_property && variant_property.primary %>'><%= variant_property.description if variant_property %> </td >
        <% end %>
      </tr >
    <% end %>
  </table>
</fieldset>

<% @product.images.each do |image| %>
  <%= image.photo_file_name %><%= image_tag image.photo.url(:small) %><br/>
<% end %>
<%= link_to 'Edit Images', edit_admin_merchandise_images_product_path(@product), :class => 'button spade'%>
<%= link_to 'All Products', admin_merchandise_products_path(), :class => 'button yellow'%>
