<% if @shopping_address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shopping_address from being saved:</h2>

    <ul>
    <% @shopping_address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='main-address'>
  <div class="inline">
    <div class="field column">
       <%= f.label :first_name %>
       <%= f.text_field :first_name, :class => 'span-3' %>
    </div>

    <div class="field column">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => 'span-3' %>
    </div>
  </div>
  <div class='clear'></div>
    <div class="inline">
      <div class="field column">
        <%= f.label :address1, 'Address' %>
        <%= f.text_field :address1 %><br/>
        <%= f.label :address2, 'line 2' %>
        <%= f.text_field :address2 %>
      </div>
    </div>
  <div class='clear'></div>

    <% if Settings.require_state_in_address %>
      <div class="field column">
        <%= f.label    :state_id, "State/Province" %>
        <%= f.select   :state_id, @states,
                      :include_blank => true %>
      </div>
    <% elsif countries.size == 1 %>
      <div class="field column">
        <%= f.hidden_field   :country_id %>
      </div>
    <% else %>
      <div class="field column">
        <%= f.label    :country_id, "Country" %>
        <%= f.select   :country_id, select_countries,
                      :include_blank => true %>
      </div>
    <% end %>
  <div class='clear'></div>
    <div class="inline">
      <div class="field column">
        <%= f.label :city %>
        <%= f.text_field :city, :class => 'span-3' %>
      </div>
      <div class="field column">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, :class => 'span-3' %>
      </div>

    <% if nil %>
      <div class="field column">
        <%= f.label :state_name %>
        <%= f.text_field :state_name, :class => 'span-3' %>
      </div>
    <% end %>

    </div>

  <div class='clear'></div>
    <div class="field">
      <%#= f.input :phone %>
    </div>
</div>
<div class="field span-7">
  <%= check_box_tag :default, 1, f.object.default? %>
  <%= f.label :default, "Make this my default shipping method", :class => 'auto_width' %>
</div>

<div class="actions prepend-1">
  <%= submit_tag 'Create Address', :class => 'button ar-red-small-button' %>
</div>
