<div class='five column'>
  <h4> <%= current_user.name %> Profile </h4>

  <ul id='profile_details' >
    <li>
      <label>Birth Date:</label>
      <%= current_user.display_birth_date %>
    </li>
    <li>
      <label>Email:</label>
      <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Edit", edit_myaccount_overview_path() %>
    </li>
  </ul>
</div>

<div class='four column'>
  <div>
    <h4> Address </h4>
    <% if current_user.shipping_address %>
      <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => current_user.shipping_address } %>
      <%= link_to "Edit", edit_myaccount_address_path(current_user.shipping_address) %>
    <% else %>
      No Address Saved.<br/>
      <%= link_to "New", new_myaccount_address_path() %>
    <% end %>
  </div>
  <div>
    <h4> Store Credits </h4>
    <%= number_to_currency current_user.store_credit.amount %>
  </div>
</div>
