<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <%= stylesheet_link_tag 'sprite.css' %>
  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag 'admin/app.css' %>
  <%= stylesheet_link_tag "admin/cart.css" %>
    <!--[if lt IE 8]
  <%#= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'application' %>
  <%#= javascript_include_tag "admin/app" %>
  <%#= javascript_include_tag "admin/jquery.customforms" %>
  <%#= javascript_include_tag "admin/jquery.placeholder.min" %>
  <%#= javascript_include_tag "admin/jquery.reveal" %>
  <%#= javascript_include_tag "admin/jquery.tooltips" %>
  <%#= javascript_include_tag "admin/modernizr.foundation" %>

  <%= yield :head %>
</head>
<body class="bp">
  <div class="container row">
    <% if notice || alert %>
        <div class="flash_notice callout <%= !!alert ? 'alert' : 'warning' %>" data-closable>
          <div>
          <% if alert %>
            <%= alert %>
          <% elsif notice %>
            <%= notice %>
          <% end %>
          </div>
          <button class="close-button" aria-label="Close alert" type="button"  data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% end %>

    <%= render :partial => 'shared/admin/header_bar' %>

    <div class='admin_main_content eight large-8 columns'>
      <%= yield %>
    </div>
    <div id='cart-right-side-panel' class='four large-4 columns last float-right'>
      <%= render :partial => '/admin/shopping/right_panel_summary'%>
      <%= yield :right_side_bar %>
    </div>
  </div>

  <%= yield :bottom %>

  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );
  </script>

</body>
<%= yield :below_body %>
</html>
