<!DOCTYPE html>
<html>
<head>
  <title>
    <%= site_name %>: <%= yield :title %>
  </title>
  <%#= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'sprite.css' %>
  <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <!--[if lt IE 7]
      <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= csrf_meta_tag %>
  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'application' %>
  <%#, :cache => 'all_1' %>
  <%= yield :head %>

</head>
<body >
<div id='body_wrapper'>
  <div class="bp">
    <%= raw "<p class='flash_notice'> #{notice}</p>"  if notice %>
    <%= raw "<p class='flash_error'>#{alert}</p>"     if alert %>
  </div>

    <%= render :partial => '/shared/welcome_header'%>

    <div id='content_wrapper' class='container'>
      <%= yield %>
    </div>

</div>
  <%= render 'shared/main_footer' %>
  <%= yield :bottom %>

  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );
  </script>

  <%# javascript_include_tag :defaults %>
  <%#= javascript_include_tag 'jquery-1.4.2.min', 'rails' %>
  <%#= javascript_include_tag :all, :cache => true %>
</body>
  <%= yield :below_body %>
</html>
